<!--
 * @Author: liaihong 
 * @Date: 2022-12-20 16:58:49
 * @LastEditors: liaihong 
 * @LastEditTime: 2022-12-29 16:37:48
 * @FilePath: /feeds-mobile-dapp-2/src/app/pages/feeds/importdid/importdid.page.html
 * @Description: 这是默认设置,请设置`customMade`, 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
-->
<app-titlebar></app-titlebar>
<ion-content>
    <ion-label>{{ mnemonic }}</ion-label>
    <!-- <ion-button (click)="jump()">
      <ion-label>跳转到引导页</ion-label>
      <ion-ripple-effect></ion-ripple-effect>
    </ion-button>
    <ion-button (click)="open()">
      <ion-label>打开密码选择</ion-label>
      <ion-ripple-effect></ion-ripple-effect>
    </ion-button> -->
</ion-content>