.radius_60_dashed {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 60px;
    height: 60px;
    background: url('../../../assets/images/dashed.svg') no-repeat;
}


.radius_60_solid {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 60px;
    width: 60px;
    height: 60px;
    background-color: #161C24;
    border: 2px solid transparent;
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    background-image: linear-gradient(to right, #161C24, #161C24), linear-gradient(90deg, #7624FE 0%, #368BFF 100%);
}
