<div *ngIf="channels.length === 0 && followers === 0" class="new-empty-container">
  <img src="./assets/images/profile-no-channel.svg">
  <h1 style="margin-top: 20px;">{{ 'MyfeedsComponent.allempty' | translate }}</h1>
  <p>{{'MyfeedsComponent.emptyDes' | translate }}</p>

  <div class="btn-row-empty" style="margin-top:5px;" (click)="createNewFeed()">
    {{ 'MyfeedsComponent.createFeed' | translate }}
  </div>

  <div class="btn-row-empty" style="margin-top:10px;" (click)="exploreFeeds()">
    {{ "MyfeedsComponent.exploreFeeds" | translate }}
  </div>
</div>

<ion-list *ngIf="channels.length > 0 || followers > 0" class="channel-list" [class.darkChannelList]="theme.darkMode"
  >
  <ion-item
    *ngFor="let channel of channels let num=index"
    lines="none"
  >
    <ion-row class="channel-row ion-activatable ripple ionRowMyfeeds" id={{channel.destDid}}-{{channel.channelId}}>
      <ion-col
        size="2.8"
        class="left-col"
        (click)="navTo(channel.destDid, channel.channelId)"
      >
        <div class="feedAvatar" [class.dark-feedAvatar]="theme.darkMode">
          <img src="./assets/icon/reserve.svg" id={{channel.destDid}}-{{channel.channelId}}-myFeedsAvatar>
        </div>
      </ion-col>
      <ion-col
        size="7.7"
        class="middle-col"
        (click)="navTo(channel.destDid, channel.channelId)"
      >
        <ion-label class="textNotWrap">{{ channel.name}}</ion-label>
        <ion-row>
          <br>
          <p>
            <span *ngIf="subscriptionV3NumMap[channel.channelId] === '' || subscriptionV3NumMap[channel.channelId] === undefined">...</span>
            <span *ngIf="subscriptionV3NumMap[channel.channelId]=== 0 || subscriptionV3NumMap[channel.channelId] != '' && subscriptionV3NumMap[channel.channelId] != undefined">{{ subscriptionV3NumMap[channel.channelId] }}</span> {{ 'common.followers' | translate }}
          </p>
        </ion-row>
      </ion-col>
      <ion-col size="1.5" class="right-col" (click)="menuMore(channel.destDid, channel.channelId, channel.name)">
        <img [src]="!theme.darkMode ? './assets/images/dots-three-vertical.svg' : './assets/images/dots-three-vertical-dark.svg'">
      </ion-col>
      <ion-ripple-effect></ion-ripple-effect>
    </ion-row>
  </ion-item>
  <ion-item  lines="none" (click)="createNewFeed()" class="removeBorder">
    <ion-row class="channel-row ion-activatable ripple">
      <ion-col
        size="2.8"
        class="left-col"
      >
      <div class="radius_60_dashed">
        <img src="assets/images/plus.svg"/>
      </div>
      </ion-col>
      <ion-col
      size="7.7"
      class="middle-col">
      <ion-label>{{ 'MyfeedsComponent.createFeed' | translate }}</ion-label>
      <ion-row>
        <br>
        <p><span>{{ 5 - channels.length }}</span> {{ 'MyfeedsComponent.des' | translate }}</p>
      </ion-row>
    </ion-col>
    </ion-row>
  </ion-item>

  <ion-item  lines="none" (click)="clickFollowing()" class="removeBorder">
    <ion-row class="channel-row ion-activatable ripple">
      <ion-col
        size="2.8"
        class="left-col"
      >
      <div class="radius_60_solid">
        <img src="assets/images/people-fill.svg"/>
      </div>
      </ion-col>
      <ion-col
      size="7.7"
      class="middle-col">
      <ion-label>{{ 'ProfilePage.following' | translate }}</ion-label>
      <ion-row>
        <br>
        <p><span>{{followers}}</span> {{ 'MyfeedsComponent.des1' | translate }}</p>
      </ion-row>
    </ion-col>
    </ion-row>
  </ion-item>

  <!-- <ion-item  lines="none" (click)="clickChanelCollections()" class="removeBorder" style="margin-top:-15px;">
    <ion-row class="channel-row ion-activatable ripple">
      <ion-col
        size="2.8"
        class="left-col"
      >
      <div class="radius_60">
        <img src="assets/images/people-fill.svg"/>
      </div>
      </ion-col>
      <ion-col>
        <div class="new-feed-div" style="padding-left:0px;">
          <div class="new-feed">{{ 'ChannelcollectionsPage.title'|translate }} </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-item> -->
</ion-list>