<app-titlebar [lightThemeType]="lightThemeType"></app-titlebar>
<ion-content>
  <ion-row class="card">
    <div class="cardTitle">
      {{ 'CreatenewfeedPage.profileImage' | translate }}
    </div>
    <div class="cardImg">
      <img (click)="profileimage()" class="avatar" *ngIf="avatar === ''" src="./assets/images/selectAvatar.svg" />
      <img (click)="profileimage()" class="avatar" *ngIf="avatar != ''" [src]="avatar"/>
      <img (click)="profileimage()" class="eidtAvatar" src="./assets/images/eidtAvatar.svg"/>
    </div>
  </ion-row>
  <ion-grid class="container" [class.darkContainer]="theme.darkMode">
    <ion-list>
        <ion-item lines="none">
            <ion-label position="stacked">{{ 'CreatenewfeedPage.name' | translate }}</ion-label>
            <ion-input disabled="true" class="content-value" [placeholder]="'CreatenewfeedPage.inputName'|translate" [(ngModel)] ="channelName"></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-label position="stacked">{{ 'CreatenewfeedPage.displayName' | translate }}</ion-label>
          <ion-input clearInput class="content-value" [placeholder]="'CreatenewfeedPage.inputName'|translate" [(ngModel)] ="displayName"></ion-input>
      </ion-item>
        <ion-item lines="none">
            <ion-label position="stacked">{{ 'CreatenewfeedPage.description' | translate }}</ion-label>
            <ion-input clearInput class="content-value" [placeholder]="'CreatenewfeedPage.inputFeedDesc'|translate" [(ngModel)] ="channelDes"></ion-input>
        </ion-item>

        <!-- <ion-item lines="none">
          <ion-label position="stacked">{{ 'CreatenewfeedPage.tippingAddress' | translate }}</ion-label>
            <ion-input clearInput required type="text" placeholder="{{'CreatenewfeedPage.tippingAddressDes'|translate}}"  [(ngModel)]="tippingAddress"></ion-input>
            <img class="qrCodeLine" src="./assets/images/qrCodeLine.svg" *ngIf="tippingAddress==='' || tippingAddress===null" (click)="scanWalletAddress()">
        </ion-item> -->

    </ion-list>

    <ion-row class="btn-row">
      <ion-button (click)="confirm()" [disabled]="clickButton">
          <ion-label *ngIf="!clickButton"> {{'common.save'|translate}}</ion-label>
          <ion-spinner name="crescent"  *ngIf="clickButton"></ion-spinner>
      </ion-button>
    </ion-row>

  </ion-grid>
</ion-content>