
.bg{
    --background:linear-gradient(180deg, #000000 0%, #A067FF 99.09%);
}

.kuang{
    position: absolute;
    width: 100%;
    height: calc(100% - 300px);
    background: #161c24;
}

.kuang1{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #161c24;
}

.border-radius-40{
    position: absolute;
    width: 100%;
    height: 34px;
    border-radius: 40px 40px 0px 0px;
    background: #161c24;
    z-index: 999;
    top: -30px;
}
.container{
    .elaAdressRow{
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #f5f4f8;
        border-radius: 20px;
        margin-top: 5px;
        margin-bottom: 35px;
        width: 95%;
      }
      .elaAdress{
        font-size: 14px;
        font-weight: 700;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        text-align: center;
        color: #9ca0a4;
        display: inline-block;
    }
    .subscribeChannel{
        text-align: center;
        margin-top: 5px;
        h1{
        font-size: 22px;
        color: #9ca0a4;
        font-weight: 500;
        letter-spacing: 1.2px;
        }

        p{
            font-size: 13px;
            font-weight:500;
            color: #9ca0a4;
        }

    }

    .empty-container {
        height: 50%;
    }

    .channel-title{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px 40px 0;
        ion-row{
            .sub-row{

                img{
                    vertical-align: middle;
                    margin-right: 5px;
                    margin-top: -6px;
                }

                .posttitle{
                    font-size: 18px;
                    font-weight: bold;
                    font-stretch: normal;
                    font-style: normal;
                    color: #000000;
                }
            }
        }
    }

    .channel-header {
        position: relative;
        width: 100%;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // padding: 0px 0px 0;
        // padding-right:20px;
        padding: 0px;
        .cardImg{
        width: 100%;
        display: flex;
        justify-content: center;
        .feedAvatar {
            width: 90px;
            height: 90px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            border-radius: 60px;
            background-color: #161c24;
            border: 2px solid transparent;
            background-clip: padding-box,border-box;
            background-origin: padding-box,border-box;
            background-image: linear-gradient(90deg,#161c24,#161c24),linear-gradient(90deg,#7624fe,#368bff);

            img {
                width: 80px;
                height: 80px;
                border-radius: 60px;
                -o-object-fit: cover;
                object-fit: cover;
                overflow: hidden;
            }
        }
        }
        .feedName{
        font-size: 25px;
        font-weight: 700;
        font-style: normal;
        text-align:center;
        color: #000;
        margin-top: 5px;
        font-weight: 700;
        white-space:nowrap;
        overflow:hidden;
        text-overflow:ellipsis;
       }

        .channelOwner{
        font-size: 15px;
        font-weight: 700;
        font-style: normal;
        text-align:center;
        color: #C4C4C4;
        white-space:nowrap;
        overflow:hidden;
        text-overflow:ellipsis;
        }

        .channeldes{
            font-size: 15px;
            font-weight: 400;
            font-style: normal;
            line-height:1.5;
            text-align: center;
            color: #000;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            margin-top:4px;
            overflow: hidden;
        }

        .channelSubscribes{
            font-size: 15px;
            font-weight: 700;
            font-style: normal;
            letter-spacing: normal;
            text-align: center;
            color: #FFFFFF;
            display: inline-block;
            padding: 6px 10px 6px 10px;
            margin-right: 15px;
        }

        .channel-btns-row {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;

            ion-button {
                width: 124px;
                height: 35px;
                --border-radius: 20px;
                --box-shadow: none;
                --background: linear-gradient(90deg, #7624FE 0%, #368BFF 100%);
                --background-activated: linear-gradient(90deg, #7624FE 0%, #368BFF 100%);
                ion-label {
                  font-size: 14px;
                  font-weight: bold;
                  font-stretch: normal;
                  font-style: normal;
                  color:#7624fe;
                  padding: 0;
                  overflow: visible;
                }
            }

            .unsubscribed {
                margin-top:10px;
                width:124px;
                height: 35px;
                line-height: 31px;
                margin: 0px
            }

            .subscribed{
                ion-label {
                color:#fff !important;
                }
            }

            .tip {
                --background: #a067ff;
            }
        }
    }

    .removeBorder {
        border-bottom: none;
      }

    }

     .darkContainer{
        .elaAdressRow{
            border: 1px solid #c4c4c4;
        }
       .channel-header{
        .feedName{
            color:#fff;
        }
        .channeldes{
           color:#C4C4C4;
        }

       }

        .channel-title{

            ion-row{
                .sub-row{
                    .posttitle{
                        color: #fff;
                    }
                }
            }
        }
}

.pinnedPost{
    img{
     vertical-align: middle;
     margin-right: 5px
    }
    span{
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 18px;
        color: #C4C4C4;
    }
}

.post-grid .post-row .content-col .pinnedPostTop{
  margin-top: 2px;
}

.closeFullSrceenPost {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 60px;
    width: 50px;
    height: 50px;
    background-color: #161C24;
    border: 2px solid transparent;
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    background-image: linear-gradient(to right, #161C24, #161C24), linear-gradient(90deg, #7624FE 0%, #368BFF 100%);
    position: absolute;
    bottom: 115px;
    right: 10px;

    img {
      object-fit: cover;
      overflow: hidden;
      height: 30px;
      width: 30px;
    }

    .offline {
      width: 10px;
      height: 10px;
      position: absolute;
      bottom: 0.5px;
      right: 0.5px;
      background-color: #cdcde6;
      border: 2px solid #f8f8ff;
      border-radius: 100%;
    }

    .online {
      background: #2dd36f;
    }
  }
