<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>406929509978-pva52k2l3kcf6mfua5fokdpjr3ftpuhe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.406929509978-pva52k2l3kcf6mfua5fokdpjr3ftpuhe</string>
	<key>API_KEY</key>
	<string>AIzaSyD4vIwVA09_ry6iTlthQayhZadnQjVazTM</string>
	<key>GCM_SENDER_ID</key>
	<string>406929509978</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.trinitytech.dapp.feedsnetwork</string>
	<key>PROJECT_ID</key>
	<string>feeds-22248</string>
	<key>STORAGE_BUCKET</key>
	<string>feeds-22248.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:406929509978:ios:a0a18e0080544b68581263</string>
</dict>
</plist>