<app-titlebar></app-titlebar>
<ion-content>
  <ion-grid class="ios-container" [class.ios-dark-container]="theme.darkMode">
    <ion-row class="section">
        <ion-col size="12" class="title-col">
            <h3>{{ 'Credentials.desc' | translate}}</h3>
        </ion-col>
    </ion-row>
    <ion-row class="section dev-mode" (click)="toggleKycmeStatus()">
        <ion-col size="2.5" class="left-col">
          <img src="./assets/images/credentials/kycme.svg"/>
        </ion-col>
        <ion-col size="6.5" class="title-col" (swipe)="toggleKycmeStatus()" [style.touch-action]="'pan-y'">
            <h2>{{"Credentials.kycme" | translate }}</h2>
            <h3 *ngIf="isKycmePublic">{{ 'SettingsPage.on' | translate }}</h3>
            <h3 *ngIf="!isKycmePublic">{{ 'SettingsPage.off' | translate }}</h3>
        </ion-col>
        <ion-col size="3" class="arrow-col" (swipe)="toggleKycmeStatus()" [style.touch-action]="'pan-y'">
            <ion-toggle  mode="ios" color="success" [(ngModel)]="isKycmePublic" style="pointer-events:none;"></ion-toggle>
        </ion-col>
   </ion-row>
  </ion-grid>
</ion-content>
