<ion-grid class="container" [class.darkContainer]="theme.darkMode">
  <ion-row class="header">
    <h1>{{ title | translate }}</h1>
    <ion-col size="12" class="kuangImg">
      <img [src]="imgagePath" class="imgagePath" [ngClass]="{'finish':isShowHeight}" *ngIf="!theme.darkMode"/>
      <img [src]="imgageDarkPath" class="imgagePath" [ngClass]="{'finish':isShowHeight}" *ngIf="theme.darkMode"/>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="message">
      <p>{{ message | translate }}</p>
    </ion-col>
  </ion-row>
  <ion-row class="btns-row">
    <ion-col class="btn confirm ion-activatable ripple" size="7.5" (click)="confirm(that)">
        <ion-label>{{ okText | translate }}</ion-label>
        <ion-ripple-effect></ion-ripple-effect>
    </ion-col>
  </ion-row>
</ion-grid>
