.loading{
   display: flex;
   justify-content: center;
   padding: 0px;
   img{
      width: 24px;
      height: 24px;
   }

   p{
       margin: 5px 0px;
   }
}

.exploreTabs{
   position: fixed;
   top: 36px;
   left: 0px;
   height: 34px;
   width: 100%;
   background-color: #ffffff;
   z-index: 99;
    .select-bottom{
       border-bottom:1px solid #7624fe;
    }

    .select-color{
       color:#7624fe;
    }

    .no-select-color{
      color:#000000;
    }

    .des{
     font-size: 14px;
     font-weight: bold;
     font-stretch: normal;
     font-style: normal;
     text-align:center;
    }
  }


  .darkExploreTabs{
   position: fixed;
   top: 46px;
   left: 0px;
   height: 35px;
   width: 100%;
   background-color: #161C24;
   z-index: 99;
   .colBorder{
     border: 1px solid #E5E5E5;
   }
   .select-colBorder{
      border: 2px solid transparent;
      background-clip: padding-box, border-box;
      background-origin: padding-box, border-box;
      background-image: linear-gradient(to right, #161C24, #161C24), linear-gradient(90deg, #7624FE 0%, #368BFF 100%);
   }

   .select-color{
      font-style: normal;
      font-weight: 700;
      font-style: normal;
      color:#fff;
   }

   .des{
      display: flex;
      text-align: center;
      justify-content: center;
      align-self: center;
      border-radius: 20px;
   }

   .no-select-color{
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      color: #C4C4C4;
    }
  }

  .borderBottom{
   border-bottom: 1px solid #F5F4F8;
   }
   .darkBorderBottom{
      border-bottom: 1px solid #2e2f4e;
   }

   .removeBorder {
      border-bottom: none;
   }

  .leftrightrow{
      padding-left: 5px;
      padding-right: 5px;
   }


  .contentTop{
   top:31px;
  }

  .pasarSpan{
   display: inline-block;
   width: 72px;
   height: 30px;
   line-height: 30px;
   border-radius: 10px;
   font-size: 13px;
   font-weight: 700;
   font-stretch: normal;
   font-style: normal;
   text-align: center;

  }

  .selectPasarSpan{
   color:#7624fe;
   border: 1px solid #7624fe;
  }

  .lightPasarSpan{
   border: 1px solid #f5f4f8;
   background-color: #fff;
   color: #000;
  }

  .darkPasarSpan{
   color: #cfd1f7;
   border: 1px solid #2d2e4d;
   background-color: #2d2e4d;
  }

  .arrowBack{
   width: 16px;
   height:10px;
   position: absolute;
   top: 38px;
   right: 10px;
   z-index: 2;
  }

  .sort{
   width: 180px;
   // height: 130px;
   border-radius: 10px;
   background-color: #f0f1ff;
   z-index: 2px;
   right: 16px;
   top: 132px;
   padding-bottom:5px;
   z-index: 2;
   position:absolute;
   p{
     margin: 0px;
     padding: 0px;
   }
   .titleName{
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      text-align: left;
      color: #9ca0a4;
      margin-left:13px;
      margin-top: 9px;
   }

   .sortName{
      font-size: 14px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      text-align: left;
      color: #000;
      margin-top: 5px;
      span{
         display:inline-block;
         width: 139px;
         margin-left:13px;
      }
   }
  }

  .darkSort{
   width: 180px;
   // height: 130px;
   border-radius: 10px;
   background-color: #2d2e4d;
   z-index: 2px;
   right: 16px;
   top: 132px;
   padding-bottom:5px;
   z-index: 2;
   position:absolute;
   p{
     margin: 0px;
     padding: 0px;
   }
   .titleName{
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      text-align: left;
      color: #9ca0a4;
      margin-left:13px;
      margin-top: 9px;
   }

   .sortName{
      font-size: 14px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      text-align: left;
      color: #fff;
      margin-top: 5px;
      span{
         display:inline-block;
         width: 139px;
         margin-left:13px;
      }
   }
  }