.channel-list {
    padding: 10px 25px;

    ion-item {
        .channel-row {
            .left-col {
                padding-left: 0;
                justify-content: flex-start;
            }
        }
    }

    ion-textarea {
        --placeholder-color:#a1a1a1;
        margin: 10px 0 15px;
        min-height:172.4px;
        background-color: #f6f5f6;
        border-radius: 20px;
        --padding-start: 10px;
        font-size: 15px;
        font-weight: 400;
        line-height: 18px;
        --color: #C4C4C4;
        border: 2px solid transparent;
        background-clip: padding-box,border-box;
        background-origin: padding-box,border-box;
        background-image: linear-gradient(90deg,#161c24,#161c24),linear-gradient(90deg,#7624fe,#368bff);
    }

    .img-container {
        position: relative;
        width: 45%;
        height: 100px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 9px;
            overflow-x: auto;
            overflow-y: auto;
        }

        .remove {
            position: absolute;
            z-index: 10;
            right: -8px;
            top: -8px;
            width: 20px;
            height: 20px;
        }
    }

    .submit-row {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .left-col {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            ion-icon {
                color: #368bff;
            }

            #image {
                width: 28px;
                height: 28px;
                margin-right: 5px;
            }

            #camera {
                width: 35px;
                height: 35px;
                margin-right: 5px;
            }

            #selectvideo{
                width: 28px;
                height: 28px;
                margin-right: 5px;
            }

            #videocam {
                width: 35px;
                height: 35px;
                margin-top: 2px;
            }
        }

        .right-col {
            ion-button {
                --background:linear-gradient(90deg, #7624FE 0%, #368BFF 100%);;
                --background-activated:linear-gradient(90deg, #7624FE 0%, #368BFF 100%);;
                width: 100%;
                height: 45px;
                --border-radius: 20px;
                --box-shadow: none;

                ion-label {
                    font-size: 14px;
                    font-weight: bold;
                    font-stretch: normal;
                    font-style: normal;
                    text-align: center;
                    color: #ffffff;
                    padding:1px;
                    overflow: hidden;
                }
            }
        }
    }
}

.darkChannelList {
    ion-textarea {
        background-color: #323B45;
        color: #C4C4C4;
    }
}