<app-titlebar></app-titlebar>
<ion-content (ionScrollEnd)="ionScroll()" [scrollEvents]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" pullFactor="0.5">
    <ion-refresher-content
      class="refresh"
      pullingText="{{'common.releaseToRefresh'|translate}}"
      spinner="src/assets/images/arrow-dropdown.svg"
      refreshingSpinner="circles"
      refreshingText="{{'common.beingRefresh'|translate}}">
    </ion-refresher-content>
  </ion-refresher>

  <div style="height: 58px;width: 100%;position: absolute;">
    <div class="search-container" [class.dark-search-container]="theme.darkMode" style="padding:0px;">
      <img *ngIf="isSearch===''" src="./assets/images/scan.svg" class="scanService" [ngStyle]="scanServiceStyle" (click)="scanService()"/>
      <form action="javascript:return true;" style="display: flex;justify-content: center;width: 100%;">
        <ion-searchbar #searchbar [ngClass]="{'borderGradient':isBorderGradient}"   [(ngModel)]="isSearch" inputmode=""  enterkeyhint="search" placeholder="{{ 'SearchPage.searchFeeds' | translate }}" (keyup)="getItems($event)" mode="ios" [ngModelOptions]="{standalone: true}" (ionClear)="ionClear()" (ionBlur)="ionBlur()" (ionFocus)="ionFocus()"></ion-searchbar>
      </form>
    </div>
  </div>

  <!-- first loading -->
  <ion-row *ngIf="isLoading" style="margin-top:53px;">
  <ion-col size="12" class="loading">
  <img *ngIf="!theme.darkMode" class="loadingIcon" src="./assets/images/nftloading.gif"/>
  <img *ngIf="theme.darkMode" class="loadingIcon" src="./assets/images/darkmode/nftloading.gif"/>
  </ion-col>
  <ion-col size="12" class="loading">
  <p>{{'common.beingRefresh'|translate}}</p>
  </ion-col>
  </ion-row>
   <div>
   <app-following
   *ngIf="!isLoading"
   [followingList] = "followingList"
   [subscriptionV3NumMap] = "subscriptionV3NumMap"
   [channelAvatarMap]="followAvatarMap"
   (exploreFeeds) = "exploreFeeds()"
   (fromChild)="showMenuMore($event)"
   (toFollowPage)="toPage($event)">
  </app-following>
  </div>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      class="ion-padding-top"
      loadingSpinner="circles"
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
<!---------------- ADD share menu---------------->
<app-sharemenu
 *ngIf="hideSharMenuComponent"
 [destDid] = "shareDestDid"
 [channelId] = "shareChannelId"
 [isShowTitle] = "isShowTitle"
 [isShowQrcode] = "isShowQrcode"
 [isShowUnfollow] = "isShowUnfollow"
 [isShowInfo] = "isShowInfo"
 [isPreferences]="isPreferences"
 [channelName] = "channelName"
 [userDid] = "userDid"
 [qrCodeString]="qrCodeString"
 (hideShareMenu)="hideShareMenu($event)"
>
</app-sharemenu>
