.bg{
    --background:linear-gradient(180deg, #000000 0%, #A067FF 99.09%);
}


.card {
    position: relative;
    width: 100%;
    height: 200px;

    .cardImg{
        position: absolute;
        width: 100%;
        display: flex;
        top: 20px;
        justify-content: center;
        .avatar{
        width: 90px;
        height: 90px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        border-radius: 60px;
        background-color: #161C24;
        border: 2px solid transparent;
        background-clip: padding-box, border-box;
        background-origin: padding-box, border-box;
        background-image: linear-gradient(to right, #161C24, #161C24), linear-gradient(90deg, #7624FE 0%, #368BFF 100%);
        img{
            width: 80px;
            height: 80px;
            border-radius: 60px;
            object-fit: cover;
            overflow: hidden;
            }
        }
    }

    .cardTitle{
        position: absolute;
        width: 100%;
        display: flex;
        top: 95px;
        justify-content: center;
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        color: #FFFFFF;
        white-space:nowrap;
        text-overflow: ellipsis;
    }

    .connectWallet{
        display: flex;
        position: absolute;
        width: 150px;
        height: 35px;
        background: linear-gradient(90deg, #7624FE 0%, #368BFF 100%);
        border-radius: 20px;
        justify-content: center;
        align-items: center;
        top: 128px;
    }

    .card-subtitle{
        display: flex;
        position: absolute;
        width: 170px;
        height: 35px;
        background: linear-gradient(90deg, #7624FE 0%, #368BFF 100%);
        border-radius: 20px;
        justify-content: center;
        align-items: center;
        top: 128px;

        span {
            font-style: normal;
            font-weight: 700;
            font-size: 15px;
            color: #FFFFFF;
            margin-left: 17px;
        }

        img {
            margin-left: 8px;
            vertical-align:middle;
            margin-left:5px;
            width: 18px;
            height: 21.33px;
        }
    }
}
.container {
    position: absolute;
    width: 100%;
    height: calc(100% - 220px);
    background: #161c24;
    border-radius: 40px 40px 0px 0px;
    .defaultAvatar{
        width:56px;
        height:56px;
        border-radius: 50%;
        background-color:#757575;
      }

    .leftrightrow{
        padding-left: 5px;
        padding-right: 5px;
    }

    .subscribeChannel{
        margin-top: 5px;
        font-size: 16px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        text-align: center;
        color:#7624fe;
    }

    .bigCircle{
        margin:0 auto;
        width: 203px;
        height: 203px;
        background-color:#F0E8FF;
        border-radius:50%;
        position: relative;
       }

       .smallCircle{
         position:absolute;
         left:50px;
         top:50px;
         width: 103px;
         height: 103px;
         background-color:#D8C1FF;
         border-radius:50%;

         img{
           position: absolute;
           top: 14px;
           left: 22px;
           }
       }

    .connectWallet{
        padding: 6px 10px;
        border-radius: 10px;
        border: solid 1px #f8f2ff;
        font-size: 8px !important;
        font-weight: normal;
        font-stretch: normal;
        color:#fff;
        margin: 0 auto;
    }

    padding: 20px 0;
    .ripple {
        position: relative;
        overflow: hidden;
    }

    /******* number-container ******/

    .number-container {
        height: 0px;
        margin: 31px 31px 5px;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .left-tab, .middle-tab, .right-tab {
            padding: 12px 6px;
            display: flex;
            justify-content: center;
            align-items: center;

            .numberText{
                font-size: 14px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                text-align:center;
                color: #000000;
                margin-bottom:6px;
            }

            span {
                font-size: 14px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                text-align:center;
                color: #000000;
                padding-bottom: 5.5px;
            }
        }

        .left-tab {
            width: 30%;
        }

        .middle-tab {
            width: 30%;
        }

        .right-tab {
            width: 30%;
        }

        .tab-active {
            transform: scale(1.1);
            span {
                transform: scale(0.9);
                color: #7624fe;
            }

            .numberText{
                transform: scale(0.9);
                color: #7624fe;
            }
        }

        .tab-active-bottom-border{
            border-bottom:solid 2px #7624fe;
        }
    }

    .removeMargin {
        margin-bottom: 0;
    }

}
.darkContainer{
    .number-container{
        .left-tab, .middle-tab, .right-tab {
            span{
               color:#cfd1f7;
            }
        }

    }

    .tab-container {
        .left-tab, .middle-tab, .right-tab {
            span{
               color:#cfd1f7;
            }
        }

        .tab-active {
            transform: scale(1.1);
            span {
                transform: scale(0.9);
                color: #7624fe;
            }

            .numberText{
                transform: scale(0.9);
                color: #7624fe;
            }
        }
    }
}

.exploreTabs{
    position: absolute;
    top: 14px;
    left: 0px;
    height: 34px;
    width: 100%;
    background-color: #ffffff;
    z-index: 99;
    border-radius: 40px 40px 0 0;
     .select-bottom{
        border-bottom:1px solid #7624fe;
     }

     .select-color{
        color:#7624fe;
     }

     .no-select-color{
       color:#000000;
     }

     .des{
      font-size: 14px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      text-align:center;
     }
   }


   .darkExploreTabs{
    position: absolute;
    top: 14px;
    left: 0px;
    height: 35px;
    width: 100%;
    background-color: #161C24;
    border-radius: 40px 40px 0 0;
    z-index: 99;
    .colBorder{
      border: 1px solid #E5E5E5;
    }
    .select-colBorder{
       border: 2px solid transparent;
       background-clip: padding-box, border-box;
       background-origin: padding-box, border-box;
       background-image: linear-gradient(to right, #161C24, #161C24), linear-gradient(90deg, #7624FE 0%, #368BFF 100%);
    }

    .select-color{
       font-style: normal;
       font-weight: 700;
       font-style: normal;
       color:#fff;
       font-size: 15px;
    }

    .des{
       display: flex;
       text-align: center;
       justify-content: center;
       align-items: center;
       border-radius: 20px;
    }

    .no-select-color{
       font-style: normal;
       font-weight: 400;
       font-size: 15px;
       color: #C4C4C4;
     }
   }