.ios-container {
    padding: 0px 20px 20px;
    min-height: 100%;

    .section {
      padding-top: 20px;
      padding-bottom: 5px;
      margin-right: 20px;
      ion-col {
        padding: 0;
      }

      .left-col {
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 36px;
          height: 36px;
        }
      }

      .title-col {
        h1, h2, h3 {
          margin: 0;
        }

        h1 {
          color: #000000;
          font-style: normal;
          font-weight: 700;
          font-size: 20px;
        }

        h2 {
          color: #9ca0a4;
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
        }

        h3 {
          font-style: normal;
          font-weight: 400;
          font-size: 15px;
          color: #C4C4C4;
        }
      }

      .arrow-col {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        img {
          width: 16px;
          height: 16px;
        }

        ion-toggle {
            zoom: 0.85;
            --background: #C4C4C4;
            width: 60px;
            height: 32px;
            border-radius: 20px;
            --ion-color-success:linear-gradient(90deg, #7624FE 0%, #368BFF 100%);
        }
      }
    }

    .dev-mode {
      border: none;
      margin-right: 5px;
    }
  }

  .ios-dark-container {
    .section {

      .title-col {
        h1 {
          color: #fff;
        }
        h2 {
          color: #fff;
        }

        h3{
          color: #C4C4C4
        }
      }
    }

    .dev-mode {
      border: none;
    }
  }