.nftButton{
    width: 40px;
    height: 20px;
    line-height:20px;
    background-color: #7624fe;
    display: inline-block;
    text-align: center;
    border-radius: 10px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin-top: 4px;
}
.channel-list {
    padding: 10px 25px;

    ion-item {
        .channel-row {
            .left-col {
                padding-left: 0;
                justify-content: flex-start;
            }
        }
    }

    ion-textarea {
        --placeholder-color:#a1a1a1;
        margin: 10px 0 15px;
        min-height:172.4px;
        background-color:  #323B45;
        border-radius: 9px;
        --padding-start: 10px;
        font-size: 15px;
        font-weight: 400;
        line-height: 18px;
        --color: #C4C4C4;
    }

    .img-container {
        position: relative;
        width: 45%;
        height: 100px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 9px;
            overflow-x: auto;
            overflow-y: auto;
            margin-left: 15px;
        }

        .remove {
            position: absolute;
            z-index: 10;
            right: -21px;
            top: -8px;
            width: 20px;
            height: 20px;
        }
    }

    .submit-row {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .left-col {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            ion-icon {
                color: #368bff;
            }

            #image {
                margin-left: 0px;
                width: 33.4px;
                height: 24.7px;
                margin-right: 15px;
            }

            #camera {
                width: 33.4px;
                height: 24.7px;
                margin-right:6px;
            }

            #selectvideo{
                width: 33.4px;
                height: 24.7px;
                margin-right: 15px;
                margin-left: 9px;
            }

            #videocam {
                width: 33.4px;
                height: 22.7px;
                margin-top: 2px;
                margin-right:15px;
            }
        }

        .right-col {
            ion-button {
                --background:linear-gradient(90deg, #7624FE 0%, #368BFF 100%);;
                --background-activated:linear-gradient(90deg, #7624FE 0%, #368BFF 100%);;
                width: 100%;
                height: 45px;
                --border-radius: 20px;
                --box-shadow: none;

                ion-label {
                    font-size: 14px;
                    font-weight: bold;
                    font-stretch: normal;
                    font-style: normal;
                    text-align: center;
                    color: #ffffff;
                    padding:1px;
                    overflow: hidden;
                }
            }
        }
    }
}

.darkChannelList {
    ion-textarea {
        background-color: #323B45;
        color: #C4C4C4;
    }
}

.borderGradient{
    border: 2px solid transparent;
    background-clip: padding-box,border-box;
    background-origin: padding-box,border-box;
    background-image: linear-gradient(90deg,#323b45,#323b45),linear-gradient(90deg,#7624fe,#368bff);
    border-radius: 20px;
  }

.twitter{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 15px;
    span{
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        background: linear-gradient(90deg, #7624FE 0%, #368BFF 100.78%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        margin-right: 4px;
    }
}
.checkbox{
  --background-checked: #323B45;
  --background: #323B45;
  --border-width: 0px;
  --border-radius: 5px;
  border: 1.5px solid transparent;
  background-clip: padding-box,border-box;
  background-origin: padding-box,border-box;
  background-image: linear-gradient(90deg,#323b45,#323b45),linear-gradient(90deg,#7624fe,#368bff);
  border-radius: 5px;
  width: 20px;
  height: 20px;
}

.postTwitter{
    position: absolute;
    right: 0px;
    bottom: 0px;
}
