
<app-titlebar></app-titlebar>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" pullFactor="0.5">
    <ion-refresher-content
      class="refresh"
      pullingText="{{'common.releaseToRefresh'|translate}}"
      spinner="src/assets/images/arrow-dropdown.svg"
      refreshingSpinner="circles"
      refreshingText="{{'common.beingRefresh'|translate}}" >
    </ion-refresher-content>
  </ion-refresher>

  <div *ngIf="usersDidList.length === 0" class="new-empty-container">
    <img src="./assets/images/profile-no-channel.svg">
    <h1 style="margin-top: 20px;">{{ 'FollowingComponent.allempty' | translate }}</h1>
    <p>{{ 'UserlistPage.emptyDes' | translate }}</p>
  </div>

<ion-list  class="channel-list" [class.darkChannelList]="theme.darkMode" *ngIf="usersDidList.length > 0">
  <ion-item
  *ngFor="let userDid of usersDidList"
  class="channelCollectionFeeds"
  lines="none">
  <ion-row class="channel-row ion-activatable ripple"   id = {{userDid}}-userList
  >
    <ion-col
      size="2.8"
      class="left-col"
      (click)="clickSubscription(userDid)"
    >
      <div  class="feedAvatar" [class.dark-feedAvatar]="theme.darkMode">
      <img [src] = "pageItemMap[userDid].avatar" *ngIf="pageItemMap[userDid] != null && pageItemMap[userDid] != undefined && pageItemMap[userDid].avatar != null && pageItemMap[userDid].avatar != undefined ">
    </div>
    </ion-col>
    <ion-col
      size="9.2"
      class="middle-col"
      (click)="clickSubscription(userDid)"
    >

    <ion-label style="white-space:nowrap;overflow:hidden;text-overflow:ellipsis;" *ngIf="pageItemMap[userDid] === '' || pageItemMap[userDid] === undefined || pageItemMap[userDid].name === '' || pageItemMap[userDid].name === undefined">
      ......
    </ion-label>
    <ion-label style="white-space:nowrap;overflow:hidden;text-overflow:ellipsis;" *ngIf="pageItemMap[userDid] != '' && pageItemMap[userDid] != undefined && pageItemMap[userDid].name != '' && pageItemMap[userDid].name != undefined">
      {{ pageItemMap[userDid].name | translate }}
    </ion-label>
    <div class="displayName" *ngIf="pageItemMap[userDid] != '' && pageItemMap[userDid] != undefined && pageItemMap[userDid].description != '' && pageItemMap[userDid].description != undefined" (click)="copyText(subscription.userDid)">
      {{  pageItemMap[userDid].description }}
    </div>
    </ion-col>
    <ion-ripple-effect></ion-ripple-effect>
  </ion-row>
  </ion-item>
  </ion-list>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      class="ion-padding-top"
      loadingSpinner="circles"
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
