
<app-titlebar></app-titlebar>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" pullFactor="0.5">
    <ion-refresher-content
      class="refresh"
      pullingText="{{'common.releaseToRefresh'|translate}}"
      spinner="src/assets/images/arrow-dropdown.svg"
      refreshingSpinner="circles"
      refreshingText="{{'common.beingRefresh'|translate}}" >
    </ion-refresher-content>
  </ion-refresher>

  <div *ngIf="userList.length === 0" class="new-empty-container">
    <img src="./assets/images/profile-no-channel.svg">
    <h1 style="margin-top: 20px;">{{ 'FollowingComponent.allempty' | translate }}</h1>
    <p>{{ 'UserlistPage.emptyDes' | translate }}</p>
  </div>

<ion-list  class="channel-list" [class.darkChannelList]="theme.darkMode" *ngIf="userList.length > 0">
  <ion-item
  *ngFor="let subscription of userList"
  class="channelCollectionFeeds"
  lines="none">
  <ion-row class="channel-row ion-activatable ripple"   id = {{subscription.userDid}}-userList
  >
    <ion-col
      size="2.8"
      class="left-col"
      (click)="clickSubscription(subscription)"
    >
      <div  class="feedAvatar" [class.dark-feedAvatar]="theme.darkMode">
      <img [src] = "userAvatarMap[subscription.userDid]" *ngIf="userAvatarMap[subscription.userDid]  != null && userAvatarMap[subscription.userDid] != undefined">
    </div>
    </ion-col>
    <ion-col
      size="9.2"
      class="middle-col"
      (click)="clickSubscription(subscription)"
    >

    <ion-label style="white-space:nowrap;overflow:hidden;text-overflow:ellipsis;" *ngIf="userNameMap[subscription.userDid] === '' || userNameMap[subscription.userDid] === undefined">
      ......
    </ion-label>
    <ion-label style="white-space:nowrap;overflow:hidden;text-overflow:ellipsis;" *ngIf="userNameMap[subscription.userDid] != '' && userNameMap[subscription.userDid] != undefined">
      {{ userNameMap[subscription.userDid] | translate }}
    </ion-label>
    <!-- <div class="displayName" *ngIf="userNameMap[subscription.userDid] != '' && userNameMap[subscription.userDid] != undefined" (click)="copyText(subscription.userDid)">
      {{  subscription.userDid.replace('did:elastos:', '').substring(0, 20) }}...{{  subscription.userDid.replace('did:elastos:', '').substring(subscription.userDid.replace('did:elastos:', '').length - 4, subscription.userDid.replace('did:elastos:', '').length) }}<img class="copy" src="./assets/images/darkmode/copy.svg">
    </div> -->
    </ion-col>
    <ion-ripple-effect></ion-ripple-effect>
  </ion-row>
  </ion-item>
  </ion-list>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      class="ion-padding-top"
      loadingSpinner="circles"
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
