.container {
    min-height: 100%;
}

.postDetail-grid {
    border-bottom: 1px solid #f0f1ff;
    padding: 0px;

    ion-row {
        width: 100%;
    }

    .top-row {
        .left-col {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding-left: 0;
        }

        .mid-col {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;

            ion-label {
                font-size: 15px;
                font-weight: 700;
                color: #000000;

                span {
                    position: relative;
                    bottom: 1.5px;
                    font-size: 15px;
                    font-weight: 700;
                    color: #C4C4C4;
                }
            }

            p {
                margin: 0;
                font-size: 15px;
                font-weight: 700;
                color: #C4C4C4;
            }
        }

        .right-col {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            img {
                // width:20px;
                // height:20px;
                overflow: visible;
            }
        }
    }

    .mid-row {
        ion-col {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;

            h2 {
                margin: 0;

                pre {
                    margin: 0 !important;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 18px;
                    color: #C4C4C4;
                }
            }

            .post-img {
                margin-top: 10px;
                width: 100%;
                height: 191px;
                object-fit: cover;
                border-radius: 11px;
            }
        }
    }

    .bottom-row {
        width: 100%;
        margin-top: 10px;
        padding: 0;

        ion-col {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            ion-label {
                margin-left: 5px;
                font-size: 15px;
                font-weight: 500;
                color: #a0a2c4;
                font-style: normal;
            }

            .liked {
                color: rgb(209, 81, 81);
            }

            .commented {
                color: #007AFF;
            }

            img {
                // width: 16px;
                // height: 14px;
                overflow: visible;
            }
        }
    }
}

.dark-postDetail-grid {
    border-bottom: 1px solid #323B45;

    .top-row {
        .mid-col {
            ion-label {
                color: #ffffff;

                span {
                    color: #C4C4C4;;
                }
            }

            p {
                color: #C4C4C4;;
            }
        }
    }

    .bottom-row {
        ion-col {
            ion-label {
                color: #C4C4C4;
            }

            .liked {
                color: rgb(209, 81, 81);
            }

            .commented {
                color: #007AFF;
            }
        }
    }
}

.post-grid {
    padding: 10px 0px 10px 0;

    .post-row {

        .content-col {
            .bottom-row {
                ion-col {
                    padding-left: 0;
                }
            }
        }
    }
}