.container {
    min-height: 100%;
}

.postDetail-grid {
    border-bottom: 1px solid #f0f1ff;
    padding: 0px;
    ion-row {
        width: 100%;
    }

    .top-row {
        .left-col {
            display: flex;
            justify-content: center;
            justify-content: flex-start;
            padding-left: 0;
        }

        .mid-col {

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            ion-label {
                font-size: 15px;
                font-style: normal;
                font-weight: 700;
                color: #000000;

                span {
                    position: relative;
                    bottom: 1.5px;
                    font-size: 10px;
                    font-weight: 500;
                    color: #8888b0;
                }
            }

            p {
                margin: 0;
                font-size: 15px;
                font-style: normal;
                font-weight: 700;
                color: #C4C4C4
            }
        }

        .right-col {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            img {
                overflow: visible;
            }
        }
    }

    .mid-row {
        ion-col {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            padding:0px;
            h2 {
                margin: 0;

                pre {
                    margin: 0 !important;
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 18.29px;
                    font-style: normal;
                }
            }

            .post-img {
                margin-top: 10px;
                width: 100%;
                height: 304px;
                object-fit: cover;
            }
        }
    }

    .bottom-row {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 0;

        .retrybutton{
                height: 30px;
                width: 60px;
                --background: #7171bd;
                --background-activated: #7171bd;
                position: absolute;
                right: 1px;
        }

        ion-col {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 0px;
            ion-label {
                margin-left: 5px;
                font-size: 15px;
                font-weight: 400;
                color: #C4C4C4;
                font-style: normal;
            }

            .liked {
                color: rgb(209, 81, 81);
            }

            .commented {
                color: #007AFF;
            }

            img {
                overflow: visible;
            }
        }
    }
}

.dark-postDetail-grid {
    border-bottom: 1px solid #2e2f4e;

    .top-row {
        .mid-col {
            ion-label {
                color: #ffffff;

                span {
                    color: #C4C4C4;
                }
            }

            p {
                color: #C4C4C4;
            }
        }
    }

    .bottom-row {
        ion-col {
            ion-label {
                color: #C4C4C4;
            }

            .liked {
                color: rgb(209, 81, 81);
            }

            .commented {
                color: #007AFF;
            }
        }
    }
}

.post-grid {
    padding: 10px 0px 10px 0;

    // .post-row {
    //     .img-col {
    //         .comment-avatar {
    //             width: 50px;
    //             height: 50px;
    //             border-radius: 50%;
    //             border: 1.25px solid #368bff;
    //             object-fit: cover;
    //         }
    //     }

    //     .right-col {
    //         position: absolute;
    //         right: 0px;
    //         img {
    //             width:20px;
    //             height:20px;
    //             overflow: visible;
    //         }
    //     }

    //     .content-col {
    //         .bottom-row {
    //             ion-col {
    //                 padding-left: 0;
    //             }
    //         }
    //     }
    // }
}