<app-titlebar [lightThemeType]="lightThemeType"></app-titlebar>
<ion-content class="bg">
  <ion-row class="card">
    <div class="cardImg">
        <div class="avatar">
       <img  *ngIf="avatar === ''" src="./assets/images/defaultAvatar.svg" />
       <img  *ngIf="avatar != ''"  [src]="avatar"/>
      </div>
      <div class="cardTitle">{{userName}}</div>
    </div>
  </ion-row>
  <ion-grid class="container" [class.darkContainer]="theme.darkMode">

    <div *ngFor="let profile of profileDetails">
      <ion-row *ngIf="profile.details" class="detail-row">
        <ion-col size="12" class="left-col">
            <h1>{{ profile.type | translate}}</h1>
            <h2 *ngIf="profile.type === 'ProfiledetailPage.did' || profile.type === 'NodeId'; else elseBlock" (press)="copytext(profile.details)" [style.touch-action]="'pan-y'">{{ profile.details }}</h2>
            <ng-template #elseBlock>
              <h2>{{ profile.details }}</h2>
            </ng-template>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
</ion-content>
