<app-titlebar [lightThemeType]="lightThemeType"></app-titlebar>
<ion-content class="bg" [class.dark-container]="theme.darkMode">
    <ion-grid  class="card">
        <img src="./assets/images/Feeds-logo-signin.png"/>
    </ion-grid>
    <div class="kuang">
        <div class="border-radius-40">
        </div>
        <ion-content>
        <ion-list>
            <ion-row class="details" (click)="gotoWebsite()">
                <h4>{{'AboutPage.website'|translate}}</h4>
                <div class="des">
                <p>trinity-feeds.app</p>
                </div>
            </ion-row>

            <ion-row class="details" (press)="copyEmailAddress()" [style.touch-action]="'pan-y'">
                <h4>{{'AboutPage.email'|translate}}</h4>
                <div class="des">
                <p>feeds@trinity-tech.io</p>
                </div>
            </ion-row>


            <ion-row class="details" (click)="gotoTelegram()">
                <h4>{{'AboutPage.telegram'|translate}}</h4>
                <div class="des">
                <p>https://t.me/feedscapsule</p>
                </div>
            </ion-row>

            <ion-row class="details" (click)="showDisclaimer()">
                <h4>{{'AboutPage.disclaimer'|translate}}</h4>
                <div class="des">
                <p>https://trinity-feeds.app/disclaimer</p>
                </div>
            </ion-row>

            <!-- <ion-row class="details" (click)="showNftDisclaimer()">
                <h4>{{'AboutPage.disclaimerNft'|translate}}</h4>
                <div class="des">
                <p>https://trinity-feeds.app/disclaimer-nft</p>
                </div>
            </ion-row> -->

            <ion-row class="details">
                <h4>{{'AboutPage.version'|translate}}</h4>
                <div class="des">
                <p>{{version}}</p>
                </div>
            </ion-row>
            <!-- <ion-row class="details" (click)="showHelp()">
                <h4>{{'AboutPage.help'|translate}}</h4>
                <p *ngIf="currentLanguage==='zh'">https://github.com/elastos-trinity/feeds-manual-docs/blob/master/Feeds_Manual_zh.md</p>
                <p *ngIf="currentLanguage!='zh'">https://github.com/elastos-trinity/feeds-manual-docs/blob/master/Feeds_Manual_en.md</p>
            </ion-row> -->
        </ion-list>
    </ion-content>
    </div>
</ion-content>