<ion-app>
    <ion-menu side="end" type="overlay" menuId="menu" [class.darkMenu]="theme.darkMode" contentId="my-content" class="my-custom-menu" swipeGesture="false" (ionWillClose)="menuClose()">
        <ion-content>
            <!-- <div style="height: 40px;" *ngIf="isIOSPlatform()"></div> -->
            <!-- menuClose.svg -->

            <ion-row class="profile-card">
                <div class="menuClose" (click)="closeMenu()">
                    <img src="./assets/images/menuClose.svg">
                </div>
                <div class="avatar">
                    <img
                    *ngIf="avatar!=''"
                    class="customizeAvatar"
                    [src]="avatar"
                    (click)="profiledetail()"/>
                </div>
                <div class="name">
                     {{ name }}
                </div>
                <div class="did" (click) = "copyText(userDid)">
                    {{ userDidDisplay }}<img src="./assets/images/darkmode/copy.svg">
                </div>
            </ion-row>
            <div class="kuang">
            <ion-menu-toggle>
                <div (click)="credentials()">
                    <img src="./assets/images/menu/credentials.svg" *ngIf="!theme.darkMode">
                    <img src="./assets/images/darkmode/menu/credentials.svg" *ngIf="theme.darkMode">
                    <h1>{{ 'app.credentials' | translate }}</h1>
                </div>
            </ion-menu-toggle>

            <ion-menu-toggle>
                <div (click)="settings()">
                    <img src="./assets/images/menu/settings.svg" *ngIf="!theme.darkMode">
                    <img src="./assets/images/darkmode/menu/settings.svg" *ngIf="theme.darkMode">
                    <h1>{{ 'app.settings' | translate }}</h1>
                </div>
            </ion-menu-toggle>

            <ion-menu-toggle>
                <div (click)="about()">
                    <img src="./assets/images/menu/about.svg" *ngIf="!theme.darkMode">
                    <img src="./assets/images/darkmode/menu/about.svg" *ngIf="theme.darkMode">
                    <h1>{{ 'app.about' | translate }}</h1>
                </div>
            </ion-menu-toggle>


            <ion-menu-toggle>
                <div (click)="termsOfService()">
                    <img src="./assets/images/menu/terms.svg" *ngIf="!theme.darkMode">
                    <img src="./assets/images/darkmode/menu/terms.svg" *ngIf="theme.darkMode">
                    <h1>{{ 'app.termsOfService' | translate }}</h1>
                </div>
            </ion-menu-toggle>

            <ion-menu-toggle>
                <div (click)="privacyPolicy()">
                    <img src="./assets/images/menu/policy.svg" *ngIf="!theme.darkMode">
                    <img src="./assets/images/darkmode/menu/policy.svg" *ngIf="theme.darkMode">
                    <h1>{{ 'app.privacyPolicy' | translate }}</h1>
                </div>
            </ion-menu-toggle>

            <ion-menu-toggle *ngIf="isIOSPlatform()">
                <div (click)="deleteAccount()">
                    <img src="./assets/images/menu/delete.svg" *ngIf="!theme.darkMode">
                    <img src="./assets/images/darkmode/menu/delete.svg" *ngIf="theme.darkMode">
                    <h1>{{ 'app.deleteAccount' | translate }}</h1>
                </div>
            </ion-menu-toggle>

            <ion-menu-toggle>
                <div (click)="showSignoutDialog()">
                    <img src="./assets/images/menu/signout.svg" *ngIf="!theme.darkMode">
                    <img src="./assets/images/darkmode/menu/signout.svg" *ngIf="theme.darkMode">
                    <h1>{{ 'app.signout' | translate }}</h1>
                </div>
            </ion-menu-toggle>
            </div>
        </ion-content>

    </ion-menu>
    <svg style="display: block; width: 0; height: 0">
        <linearGradient id="linearColors" x1='0' y1='1' x2='1' y2='1'>
            <stop offset="0%" stop-color="#7624FE" />
            <stop offset="100%" stop-color="#368BFF" />
        </linearGradient>
    </svg>
    <!-- <ion-router-outlet  [swipeGesture]="true" id="my-content"></ion-router-outlet> -->
    <ion-router-outlet  id="my-content"></ion-router-outlet>

    <!--nft loading-->
    <app-nftloading
    *ngIf="isLoading"
    [loadingTitle] = "loadingTitle"
    [loadingText] = "loadingText"
    [loadingCurNumber] = "loadingCurNumber"
    [loadingMaxNumber] = "loadingMaxNumber"
    >
    </app-nftloading>
  </ion-app>

