<ion-app>
    <ion-menu side="end" type="overlay" menuId="menu" [class.darkMenu]="theme.darkMode" contentId="my-content" class="my-custom-menu" swipeGesture="false" (ionWillClose)="menuClose()">
        <ion-content>
            <!-- <div style="height: 40px;" *ngIf="isIOSPlatform()"></div> -->
            <!-- menuClose.svg -->

            <ion-row class="profile-card">
                <div class="menuClose" (click)="closeMenu()">
                    <img src="./assets/images/menuClose.svg">
                </div>
                <div class="avatar">
                    <div *ngIf="avatar===''" class="defaultAvatar"></div>
                    <img *ngIf="avatar!=''" [src]="avatar" (click)="profiledetail()"/>
                </div>
                <div class="name">
                    {{ name }}
                </div>
                <div class="did" (click) = "copyText(userDid)">
                    {{ userDidDisplay }}<img src="./assets/images/darkmode/copy.svg">
                </div>
            </ion-row>
            <div class="kuang">
            <ion-menu-toggle>
                <div (click)="settings()">
                    <img src="./assets/images/menu/settings.svg" *ngIf="!theme.darkMode">
                    <img src="./assets/images/darkmode/menu/settings.svg" *ngIf="theme.darkMode">
                    <h1>{{ 'app.settings' | translate }}</h1>
                </div>
            </ion-menu-toggle>

            <ion-menu-toggle>
                <div (click)="about()">
                    <img src="./assets/images/menu/about.svg" *ngIf="!theme.darkMode">
                    <img src="./assets/images/darkmode/menu/about.svg" *ngIf="theme.darkMode">
                    <h1>{{ 'app.about' | translate }}</h1>
                </div>
            </ion-menu-toggle>

            <ion-menu-toggle>
                <div (click)="privacyPolicy()">
                    <img src="./assets/images/menu/settings.svg" *ngIf="!theme.darkMode">
                    <img src="./assets/images/darkmode/menu/settings.svg" *ngIf="theme.darkMode">
                    <h1>{{ 'app.privacyPolicy' | translate }}</h1>
                </div>
            </ion-menu-toggle>

            <ion-menu-toggle>
                <div (click)="showSignoutDialog()">
                    <img src="./assets/images/menu/signout.svg" *ngIf="!theme.darkMode">
                    <img src="./assets/images/darkmode/menu/signout.svg" *ngIf="theme.darkMode">
                    <h1>{{ 'app.signout' | translate }}</h1>
                </div>
            </ion-menu-toggle>
            </div>
        </ion-content>

    </ion-menu>

    <!-- <ion-router-outlet  [swipeGesture]="true" id="my-content"></ion-router-outlet> -->
    <ion-router-outlet  id="my-content"></ion-router-outlet>

    <!--nft loading-->
    <app-nftloading
    *ngIf="isLoading"
    [loadingTitle] = "loadingTitle"
    [loadingText] = "loadingText"
    [loadingCurNumber] = "loadingCurNumber"
    [loadingMaxNumber] = "loadingMaxNumber"
    >
    </app-nftloading>
  </ion-app>

