.my-custom-menu {
    --width:100%;
}

.menuClose {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 10px;
    top: 15px;
    z-index: 10;

    img{
    width:13.33px;
    height:13.37px;
    }
}

.avatar{
    position: absolute;
    width: 90px;
    height: 90px;
    left: 37px;
    top: 95px;
    border-radius: 60px;
    border: 2px solid transparent;
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    background-image: linear-gradient(to right, #170F25, #170F25), linear-gradient(90deg, #7624FE 0%, #368BFF 100%);
    align-items: center;
    display: flex;
    img{
    width: 80px;
    height: 80px;
    border-radius: 60px;
    margin: 0 auto;
    }
}

.name {
    position: absolute;
    left: 135px;
    top: 116px;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    color: #FFFFFF;
    white-space: normal;
    text-overflow: ellipsis;
}

.did {
    white-space: normal;
    text-overflow: ellipsis;
    position: absolute;
    left: 135px;
    top: 150px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #FFFFFF;

    img{
    width: 14.76px;
    height: 18px;
    vertical-align: middle;
    margin-left: 3px
    }
}

.defaultAvatar{
    width:43px;
    height:43px;
    border-radius: 50%;
    background-color:#757575;
    position: absolute;
    z-index: -1
  }

ion-menu {
    --ion-backdrop-color:#000;
    ion-content {
        --background:linear-gradient(180deg, #000000 0%, #A067FF 99.09%);
        .profile-card {
            position: relative;
            width: 100%;
            height: 221px;
            margin: 0 auto;
            .left-col, .right-col {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;

                img {
                    margin:0 auto;
                    width: 43px;
                    height: 43px;
                    object-fit: cover;
                    overflow: hidden;
                    border-radius: 50%;
                    border: 1px solid rgba(255, 255, 255, 0.3);
                    margin-top: 13px;
                    margin-bottom: 5px;
                }

                h1 {
                    text-align: center;
                    font-size: 12px;
                    font-weight: 700;
                    font-stretch: normal;
                    font-style: normal;
                    color: #fff;
                    overflow: auto;
                    width: 100%;
                    margin-top:0px;
                }

                .connectWallet{
                    padding: 6px 10px;
                    border-radius: 10px;
                    border: solid 1px #ffffff;
                    font-size: 8px !important;
                    font-weight: normal;
                    font-stretch: normal;
                    color: #fff;
                    margin: 0 auto;
                }
            }

            .right-col {
                justify-content: center;
                align-items: flex-end;
            }
        }

        .kuang{
            width: 100%;
            height: calc(100% - 219px);
            background: #161C24;
            border-radius: 20px 20px 0px 0px;

            ion-menu-toggle {
                div {
                    display: flex;
                    align-items: center;
                    padding: 35px 0 0 25px;
                    width: 100%;

                    // img {
                    //     height:16px;
                    //     width:16px;
                    // }

                    h1 {
                        margin: 0;
                        margin-left: 21.55px;
                        color: #000000;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 25px;
                    }
                }
            }
        }


    }
}

.darkMenu {
    --ion-backdrop-color:#fff;
    ion-content {
        .kuang{
        ion-menu-toggle {
            div {
               h1{
                color:#ffffff;
               }

            }
        }
    }
    }
}