.channel-list {
    padding: 10px 25px;

    ion-item {
        .channel-row {
            .left-col {
                padding-left: 0;
                justify-content: flex-start;

                .feedAvatar {
                    img {
                        width: 50px;
                        height: 50px;
                    }
                }
            }

            ion-label{
                    margin-left:10px;
                    font-size: 15px;
                    font-weight: 700;
                    font-stretch: normal;
                    font-style: normal;
                    color: #000000;
            }
        }
    }

    ion-textarea {
        margin: 10px 0 15px;
        min-height: 192px;
        background-color: #f6f5f6;
        color: #000000;
        border-radius: 20px;
        --padding-start: 10px;
        text-align: left;
        --placeholder-color:#a1a1a1;
        font-size: 15px;
        font-weight: 400;
        line-height: 18px;
        --color: #C4C4C4;
        // border: 2px solid transparent;
        // background-clip: padding-box,border-box;
        // background-origin: padding-box,border-box;
        // background-image: linear-gradient(90deg,#161c24,#161c24),linear-gradient(90deg,#7624fe,#368bff);

    }


    .submit-row {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .left-col {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            ion-icon {
                color: #368bff;
            }

            #image {
                width: 28px;
                height: 28px;
                margin-right: 5px;
            }

            #camera {
                width: 35px;
                height: 35px;
            }
        }

        .right-col {
            ion-button {
                width: 100%;
                height: 44px;
                --border-radius: 20px;
                --box-shadow: none;
                --background:linear-gradient(90deg, #7624FE 0%, #368BFF 100%);
                --background-activated:linear-gradient(90deg, #7624FE 0%, #368BFF 100%);

                ion-label {
                  font-size: 15px;
                  font-weight: 700;
                  font-style: normal;
                  text-align: center;
                  color: #ffffff;
                  padding: 1px;
                  overflow: hidden;
                }
            }
        }
    }
}

.darkChannelList {
    ion-textarea {
        background-color: #323B45;
        color: #C4C4C4;
    }

    ion-item {
        .channel-row {
            ion-label{
            color: #fff;
         }
      }
   }
}

.borderGradient{
    border: 2px solid transparent;
    background-clip: padding-box,border-box;
    background-origin: padding-box,border-box;
    background-image: linear-gradient(90deg,#323b45,#323b45),linear-gradient(90deg,#7624fe,#368bff);
    border-radius: 20px;
  }