<div *ngIf="followingList.length === 0" class="new-empty-container">
  <img src="./assets/images/profile-no-channel.svg">
  <h1 style="margin-top: 20px;">{{ 'FollowingComponent.allempty' | translate }}</h1>
  <p>{{ 'FollowingComponent.emptyDes' | translate }}</p>
  <div class="btn-row-empty" style="margin-top:10px;" (click)="clickExploreFeeds()">
    {{ 'LikesComponent.exploreFeeds' | translate }}
  </div>
</div>

<ion-list *ngIf="followingList.length > 0" class="channel-list" [class.darkChannelList]="theme.darkMode" style="padding-top:5px;margin-top: 58px;">
  <ion-item
    *ngFor="let channel of followingList"
    [class.removeBorder]="channel === followingList[followingList.length - 1]"
    lines="none"
  >
    <ion-row class="channel-row ion-activatable ripple ionRowFollowing" id={{channel.destDid}}-{{channel.channelId}}-{{pageType}}>
      <ion-col
        size="2.8"
        class="left-col"
        (click)="navTo(channel.destDid, channel.channelId)"
      >
        <div  id={{channel.destDid}}-{{channel.channelId}}-followingAvatarKuang class="feedAvatar" [class.dark-feedAvatar]="theme.darkMode">
          <img
          [src] = "channelAvatarMap[channel.destDid+'-'+channel.channelId]"
          class="customizeAvatar"
          *ngIf="channelAvatarMap[channel.destDid+'-'+channel.channelId]  != null && channelAvatarMap[channel.destDid+'-'+channel.channelId] != undefined">
        </div>
      </ion-col>
      <ion-col
        size="7.2"
        class="middle-col"
        (click)="navTo(channel.destDid, channel.channelId)"
      >
        <ion-label style="margin-top:0px;white-space: normal;">c/{{ channel.displayName || channel.name }} <img src="./assets/images/darkmode/publicChannel.svg" class="publicChannel" *ngIf="channelPublicStatusList[channel.destDid+'-'+channel.channelId]==='2'">
        </ion-label>
        <ion-row>
          <br>
          <p>
            <span *ngIf="subscriptionV3NumMap[channel.channelId] === '' || subscriptionV3NumMap[channel.channelId] === undefined">...</span>
            <span *ngIf="subscriptionV3NumMap[channel.channelId]=== 0 || subscriptionV3NumMap[channel.channelId] != '' && subscriptionV3NumMap[channel.channelId] != undefined">{{ subscriptionV3NumMap[channel.channelId] }}</span> {{ 'common.followers' | translate }}
          </p>
        </ion-row>
      </ion-col>
      <ion-col size="0.5" class="right-col" (click)="menuMore(channel)" *ngIf="pageType==='subscriptions'">
      </ion-col>
      <ion-col size="1.5" class="right-col" (click)="menuMore(channel)" *ngIf="pageType==='subscriptions'">
        <img [src]="!theme.darkMode ? './assets/images/dots-three-vertical.svg' : './assets/images/dots-three-vertical-dark.svg'">
      </ion-col>
      <ion-ripple-effect></ion-ripple-effect>
    </ion-row>
  </ion-item>
</ion-list>