<app-titlebar [lightThemeType]="lightThemeType"></app-titlebar>
<!-- <div *ngIf="connectionStatus == 1" class="offline-header"></div> -->
<ion-content class="bg">
  <ion-row class="card">
    <div class="cardImg">
      <div class="avatar" (click) = "editProfile()">
       <img
       *ngIf="avatar != ''"
       [ngClass]="{'customizeAvatar': avatar.indexOf('default-contact.svg') === -1 }"
       [src]="avatar"/>
       <img   class="eidtAvatar" src="./assets/images/eidtAvatar.svg"/>
      </div>


      <div class="cardTitle">{{name}}</div>
    </div>
  </ion-row>
  <ion-grid class="container" [class.darkContainer]="theme.darkMode">

    <div *ngFor="let profile of profileDetails">
      <ion-row *ngIf="profile.details" class="detail-row">
        <ion-col size="12" class="left-col">
            <h1>{{ profile.type | translate}}</h1>
            <h2 *ngIf="profile.type === 'ProfiledetailPage.did' || profile.type === 'NodeId'; else inputid" (press)="copytext(profile.details)" [style.touch-action]="'pan-y'">{{ profile.details }}</h2>
            <ng-template #inputid>
              <h2>{{ profile.details }}</h2>
            </ng-template>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
</ion-content>
<!---------------- ADD picture menu---------------->
<app-picturemenu
 *ngIf="hidePictureMenuComponent"
 [isSupportGif] = "isSupportGif"
 (openCamera) = "openCamera()"
 (openGallery)= "openGallery($event)"
 (hidePictureMenu)="hidePictureMenu($event)"
>
</app-picturemenu>