
<app-titlebar [lightThemeType]="lightThemeType"></app-titlebar>
<ion-content class="bg" [scrollEvents]="true" (ionScroll) = "postListScroll($event)">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" pullFactor="0.5">
    <ion-refresher-content
      class="refresh"
      pullingText="{{'common.releaseToRefresh'|translate}}"
      spinner="src/assets/images/arrow-dropdown.svg"
      refreshingSpinner="circles"
      refreshingText="{{'common.beingRefresh'|translate}}">
    </ion-refresher-content>
  </ion-refresher>

  <ion-row class="card" *ngIf="!isFullPost">
    <div class="cardImg">
      <div class="avatar" (click) = "editProfile()">
       <img
       *ngIf="avatar != ''"
       [ngClass]="{'customizeAvatar': avatar.indexOf('default-contact.svg') === -1 }"
       [src]="avatar"/>
      </div>
      <div class="cardTitle">{{name}} <img *ngIf="isShowKycIcon" style="margin-left: 7px;"  src="./assets/images/credentials/kycme.svg"></div>
      
      <div class="card-subtitle" *ngIf="isOwner&&walletAddressStr!=''">
        <span style="text-transform: none" (click)="clickWalletAddr()">{{walletAddressStr}}</span>
        <img  (click)="copyWalletAddr()" src="./assets/images/darkmode/copy.svg">
      </div>
      <div class="connectWallet" *ngIf="isOwner&&walletAddressStr===''" (click)="connectWallet()">{{"WalletteachPage.connectWallet" | translate}}</div>
    </div>
  </ion-row>

  <ion-grid class="container" [class.darkContainer]="theme.darkMode" [class.blur]="!hideComment" [ngClass]="{'containerHeight': !isFullPost,'containerHeight1':isFullPost}">
    <ion-row [class.darkExploreTabs]="theme.darkMode" [class.exploreTabs]="!theme.darkMode">
      <ion-col size="1.25" class="des"></ion-col>
      <ion-col size="4.5" class="des colBorder" [ngClass]="{'select-colBorder':selectType === 'ProfilePage.myFeeds','select-color':selectType === 'ProfilePage.myFeeds','no-select-color':selectType != 'ProfilePage.myFeeds'}" (click)="changeType('ProfilePage.myFeeds')">
        {{'ProfilePage.myFeeds' | translate}}
      </ion-col>
      <ion-col size="0.5" class="des"></ion-col>
      <ion-col size="4.5" class="des colBorder"  [ngClass]="{'select-colBorder':selectType === 'ProfilePage.myLikes','select-color':selectType === 'ProfilePage.myLikes','no-select-color':selectType != 'ProfilePage.myLikes'}" (click)="changeType('ProfilePage.myLikes')">
        {{'ProfilePage.myLikes'|translate}}
      </ion-col>
      <ion-col size="1.25" class="des"></ion-col>
    </ion-row>
    <ion-row style="height:40px">&nbsp;</ion-row>
   <ion-content [scrollEvents]="true">
    <app-myfeeds
    *ngIf="selectType == 'ProfilePage.myFeeds'"
    (toFeedPage)="toPage($event)"
    (subsciptions)="subsciptions()"
    [channels] = "channelList"
    [pageName] = "pageName"
    [isOwner] = "isOwner"
    (fromChild)="showMenuMore($event)"
    [followers] = "followers"
    [subscriptionV3NumMap]= "subscriptionV3NumMap"
    [channelAvatarMap] = "myFeedAvatarMap"
    [isLoadingMyFeeds] = "isLoadingMyFeeds"
    [channelPublicStatusList]= "channelPublicStatusList"
    [channelAvatarMap] = "myFeedAvatarMap">
    </app-myfeeds>

    <div *ngIf="selectType == 'ProfilePage.myLikes'" class="new-empty-container new-empty-container-height">
      <img src="./assets/images/no-Likes.svg">
      <h1  style="margin-top: 20px;">{{ 'LikesComponent.notSupported' | translate }}</h1>
    </div>

    <!-- <app-likes
       *ngIf="selectType == 'ProfilePage.myLikes'"
       [pageName] = "pageName"
       [hideDeletedPosts] = "hideDeletedPosts"
       [isImgPercentageLoading]="isImgPercentageLoading"
       [isImgLoading]="isImgLoading"
       [imgloadingStyleObj]="imgloadingStyleObj"
       [imgPercent]="imgPercent"
       [imgRotateNum]="imgRotateNum"
       [isVideoLoading]="isVideoLoading"
       [isVideoPercentageLoading]="isVideoPercentageLoading"
       [videoloadingStyleObj]="videoloadingStyleObj"
       [videoPercent]="videoPercent"
       [videoRotateNum]="videoRotateNum"
       [likeList] = "likeList"
       [isLoadVideoiamge]="isLoadVideoiamge"
       [likeMap]="likeMap"
       [likeNumMap] = "likeNumMap"
       [commentNumMap] = "commentNumMap"
       [channelNameMap] = "channelNameMap"
       [isLoadingLikeMap] = "isLoadingLikeMap"
       [channelAvatarMap] = "likeAvatarMap"
       [handleDisplayNameMap] = "handleDisplayNameMap"
       [postImgMap] = "postImgMap"
       [postTime] = "postTime"
       [isLoadingLike] = "isLoadingLike"
       (fromChild)="showMenuMore($event)"
       (commentParams)="showComment($event)"
       (clickImage)="showBigImage($event)"
       (toPage)="toPage($event)"
       >
    </app-likes> -->
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content
        class="ion-padding-top"
        loadingSpinner="circles"
      >
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-content>
  </ion-grid>
</ion-content>
<div class="closeFullSrceenPost"  (click)="closeFullSrceenPost()" *ngIf="isFullPost && totalLikeList.length < 5 && this.selectType === 'ProfilePage.myLikes'">
  <img src="/assets/images/fanhuidingbu.svg"/>
</div>
<!---------------- ADD share menu---------------->
<app-sharemenu
 *ngIf="hideSharMenuComponent"
 [destDid] = "shareDestDid"
 [channelId] = "shareChannelId"
 [isShowTitle] = "isShowTitle"
 [isShowQrcode] = "isShowQrcode"
 [isShowUnfollow] = "isShowUnfollow"
 [isShowInfo] = "isShowInfo"
 [isPreferences]="isPreferences"
 [channelName] = "channelName"
 [userDid] = "userDid"
 [qrCodeString]="qrCodeString"
 (hideShareMenu)="hideShareMenu($event)"
>
</app-sharemenu>

<!---------------- ADD COMMENT FOOTER ---------------->
<app-comment
  *ngIf="!hideComment"
  [postId]="postId"
  [destDid]="destDid"
  [channelId]="channelId"
  [channelAvatar]="channelAvatar"
  [channelName]="channelName"
  [createrDid] = "createrDid"
  (hideComment)="hideComponent($event)"
></app-comment>
