.donghua{
  // z-index: 20001;
  // animation-duration: 400ms;
  // animation-timing-function: cubic-bezier(0.36, 0.66, 0.04, 1);
  // animation-delay: 0ms;
  // animation-fill-mode: both;
  // animation-direction: normal;
  // animation-iteration-count: 1;
}

.backdropdonghua{
  // animation-timing-function: cubic-bezier(0.36, 0.66, 0.04, 1);
  // animation-fill-mode: both;
  // animation-direction: normal;
  // animation-iteration-count: 1;
  // animation-name:ion-animation-5;
}

.feedlistbackdropdonghua{
  // animation-timing-function: cubic-bezier(0.36, 0.66, 0.04, 1);
  // animation-fill-mode: both;
  // animation-direction: normal;
  // animation-iteration-count: 1;
  // animation-name:ion-animation-6;
}



.switchfeed{

  background: transparent;
  animation: animate;
  animation-duration: 150ms;
  animation-fill-mode: forwards;

  @keyframes animate {
    0% { bottom: -1000px }
    100% { bottom: 0px }
  }

.darkbackdrop{
  background-color:#fff;
}

.lightbackdrop{
    background-color:#000;
}

.backdrop{
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: block;
    position: absolute;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    contain: strict;
    cursor: pointer;
    opacity: 0.3;
    -ms-touch-action: none;
    touch-action: none;
    z-index:998;
}
.feedlist {
 width:100%;
 max-height: 315px;
 position:absolute;
 bottom:0px;
 left:0px;
 z-index:999;
 overflow: auto;
border-radius: 40px 40px 0px 0px;
ion-grid{
  padding-top:34px;
  padding-bottom:10px;
}
}

.darkfeedlist{
    background: #161C24 !important;
    // .borderbottom{
    //     border-bottom: 1px solid rgba(255,255,255,.07);
    // }
}

.lightfeedlist{
    background-color:#fff!important;
}

.lightfeedname{
    color: #000;
}

.drakfeedname{
    color: #fff;
}

// .borderbottom{
//   border-bottom: 1px solid rgba(34,34,34,.07)
// }

.feedlist .feedrow{
    .left-col {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }

    .feedAvatar {
        display: flex;
        align-items: center;
        position: relative;
        border-radius: 50%;

        img {
          border-radius: 50%;
          object-fit: cover;
          overflow: hidden;
          height: 50px;
          width: 50px;
        }

    }

    .middle-col {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

        ion-label {
          font-size: 15px;
          font-weight: 700;
          width: 100%;
          font-style: normal;
          line-height: 18px;
          color: #FFFFFF;
        }

        p {
          margin: 0;
          font-style: normal;
          font-weight: 400;
          font-size: 15px;
          line-height: 18px;
          text-align: center;
          color: #C4C4C4;

          span {
            font-size: 15px;
            font-weight: 400;
            font-size: 15px;
            line-height: 18px;
            text-align: center;
            color: #C4C4C4;
          }
        }

        ion-row {
          padding: 0;
          display: flex;
          align-items: center;

          img {
            width:20px;
            height:20px;
            object-fit: contain;
            margin-right: 3px;
          }
        }
    }

    .right-col {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      img {
        width: 20px;
        height: 20px;
        object-fit: contain;
      }
    }

}

.feedcancel{
 width: calc(100vw - 16px);
 height:56px;
 line-height:56px;
 position:absolute;
 bottom:10px;
 left:8px;
 background-color:#fff!important;
 z-index:999;
 border-radius:13px;
 overflow: auto;

 ion-icon{
   width: 28px;
   height: 28px;
   margin-left: 10px;
 }

 span{
    margin-top: -18px;
    margin-left: 5px;
    justify-content: left;
    font-size: 14px;
    font-weight: 600;
    color: #000;
    vertical-align: middle;
    display: inline-block;
}
}

.darkfeedcancel{
    width: calc(100vw - 16px);
    height:56px;
    line-height:56px;
    position:absolute;
    bottom:10px;
    left:8px;
    background: #2e2f4e!important;
    z-index:999;
    border-radius:13px;
    overflow: auto;

    ion-icon{
      width: 28px;
      height: 28px;
      margin-left: 10px;
      color: #fff;
    }

    span{
       margin-top: -18px;
       margin-left: 5px;
       justify-content: left;
       font-size: 14px;
       font-weight: 600;
       color: #fff;
       vertical-align: middle;
       display: inline-block;
   }
   }
  }

.footer{
  width: 428px;
  height: 235px;
  left: 0px;
  top: 691px;
  background: #161C24;
  border-radius: 40px 40px 0px 0px;
}
