ion-slides{
  --bullet-background:#7624fe;
  --bullet-background-active:#7624fe;
  height: 320px;
}

.content{
  --ion-background-color: #F1E9FF;
}

.slide {
  ion-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 30px;

    .header-row {
      margin-top: 22px;
      ion-col {
        img {
          display: flex;
          width: 166.56px;
          height: 111px;
          margin: 0 auto;
        }

        p {
          margin: 0px;
          margin-top: 50px;
          font-style: normal;
          font-weight: 700;
          font-size: 25px;
          text-align: center;
          color: #FFFFFF;
        }
      }
    }

  }

}

.btn-row-bottom{
  margin-bottom: 90px;
}

.darkSlides {
  ion-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 30px;

    .header-row {
      margin-top: 22px;
      ion-col {
        img {
          display: flex;
          width: 166.56px;
          height: 111px;
          margin: 0 auto;
        }

        p {
          margin: 0px;
          margin-top: 50px;
          font-style: normal;
          font-weight: 700;
          font-size: 25px;
          text-align: center;
          color: #ffffff;
        }
      }
    }

  }
  }

.darkMessageBox{
  width: 100%;
  height: 380px;
  background: #323B45;
  border-radius: 40px 40px 0px 0px;
  padding: 0px;
  ion-col{
  justify-content: center;
  display: flex;
  padding: 0px;
  }

  .slide-title{
    font-weight: 700;
    font-size: 25px;
    color: #FFFFFF;
    margin-bottom: 20px;
  }

  .slide-des{
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    color: #C4C4C4;
    margin-bottom: 15px;
  }

  .skip {
  font-style: normal;
  font-weight: 700;
  font-size: 13.4937px;
  color: #FFFFFF;
  text-align: center;
  margin-top: 20px;
  }
 }

 .rowDes{
  display:flex;
  justify-content: center;
  margin-bottom: 78px;

  .des{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    color: #FFFFFF;
    width: 265px;
    span{
     color: #378BFF;
    }
   }
 }

 .ionfooter{
  animation-duration: 0.5s;
  animation-name: slidein;
 }

 @keyframes slidein {
  from {
      transform: translateY(70%);
  }
  to {
      transform: translateY(0);
  }
}

.darkHiveBox{
  width: 100%;
  height: 430px;
  background: #323B45;
  border-radius: 40px 40px 0px 0px;
  padding: 0px;
  ion-col{
  justify-content: center;
  display: flex;
  padding: 0px;

  .title{
  margin: 0px;
  margin-top:34px;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  color: #FFFFFF;
  }

  .description{
  margin-top:34px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #C4C4C4;
  }

  .hive1{
    margin-top:40px;
  }

  .hive2{
    margin-top:40px;
    width: 140px;
    height: 134px;
  }

  ion-progress-bar{
      margin-top: 51.7px;
      width: 240px;
      height: 22px;
      --background: #E5E5E5;
      border-radius: 11.5238px;
      --progress-background: linear-gradient(90deg, #7624FE 0%, #368BFF 100%);
  }

  }
}