<app-titlebar [lightThemeType]="lightThemeType"></app-titlebar>
<ion-content [class.content]="!theme.darkMode" (click)="skip()">
  <div [class.slide]="!theme.darkMode" [class.darkSlides]="theme.darkMode">
   <ion-grid>
     <ion-row class="header-row">
       <ion-col size="12">
         <img src="./assets/images/Feeds-logo-signin.png"/>
         <p>{{'SigninPage.des10'| translate}}</p>
       </ion-col>
     </ion-row>
</ion-grid>
</div>
</ion-content>
<ion-footer class="ion-no-border ionfooter" *ngIf="isShowLearnMore && authorizationStatus === null">
  <ion-grid  [class.messageBox]="!theme.darkMode" [class.darkMessageBox]="theme.darkMode">
  <ion-slides #slide pager="true">

    <ion-slide class="slide">
      <ion-grid>
        <ion-row>
          <ion-col size="12" class="slide-title"><span>{{'SigninPage.ownyourdata'|translate}}</span></ion-col>
          <ion-col size="12" class="slide-des"><span>{{ 'SigninPage.des2' |translate}}</span></ion-col>
          <ion-col size="12">
            <img src="./assets/onboard/slide1.svg"/>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>

    <ion-slide class="slide">
      <ion-grid>
        <ion-row>
          <ion-col size="12" class="slide-title"><span>{{'SigninPage.decentralized'|translate}}</span></ion-col>
          <ion-col size="12" class="slide-des"><span>{{ 'SigninPage.des3' |translate}}</span></ion-col>
          <ion-col size="12">
            <img src="./assets/onboard/slide2.svg"/>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>

    <ion-slide class="slide" (swipe)="skip()" [style.touch-action]="'pan-y'">
      <ion-grid>
        <ion-row>
          <ion-col size="12" class="slide-title"><span>{{'SigninPage.secure'|translate}}</span></ion-col>
          <ion-col size="12" class="slide-des"><span>{{ 'SigninPage.des4' |translate}}</span></ion-col>
          <ion-col size="12">
            <img src="./assets/onboard/slide3.svg"/>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>

  </ion-slides>
  <p (click)="skip()" class="skip">{{"LearnmorePage.skip" | translate}}</p>
</ion-grid>
</ion-footer>

<ion-footer class="ion-no-border ionfooter" *ngIf="!isShowLearnMore && authorizationStatus === null" >
   <ion-grid [class.siginBox]="!theme.darkMode" [class.darkSiginBox]="theme.darkMode">
    <ion-row class="btn-row btn-row-bottom">
      <ion-col size="12">
        <p class="title">{{ "SigninPage.signIn"| translate }}</p>
      </ion-col>
      <ion-col size="12">
        <span class="des">{{ "SigninPage.des12"| translate }}</span>
      </ion-col>
     <ion-button (click)="elastosEssentials()">
       <ion-label>
          {{ "SigninPage.elastosEssentials"| translate }}
       </ion-label>
     </ion-button>
     <div *ngIf="isIOSPlatform()" class="btn-row-empty learnMore" (click)="guest()">
      {{ "SigninPage.guest" | translate }}
    </div>
     <div class="btn-row-empty learnMore" (click)="learnMore()">
      {{ "SigninPage.learnMore" | translate }}
    </div>
   </ion-row>
   <ion-row class="rowDes">
    <div class="des">{{ "SigninPage.des11" | translate }} <span (click)="termsOfService()">{{ "app.termsOfService" | translate}}</span>{{ "SigninPage.and" | translate}}<span (click)="privacyPolicy()">{{ "app.privacyPolicy" | translate}}</span></div>
   </ion-row>
   </ion-grid>
</ion-footer>

<!-- hive auth -->
<ion-footer class="ion-no-border ionfooter" *ngIf="authorizationStatus != null">
  <ion-grid [class.hiveBox]="!theme.darkMode" [class.darkHiveBox]="theme.darkMode">
         <ion-row>
           <ion-col size="12">
             <p class="title" *ngIf="authorizationStatus === 0"> {{ 'GalleriahivePage.authorization' | translate}}</p>
             <p class="title" *ngIf="authorizationStatus === 1"> {{ 'GalleriahivePage.authorized' | translate}}</p>
             <p class="title" *ngIf="authorizationStatus === 2"> {{ 'GalleriahivePage.authorization' | translate}}</p>
             <p class="title" *ngIf="authorizationStatus === 3"> {{ 'GalleriahivePage.authorization' | translate}}</p>
           </ion-col>
           <ion-col size="12">
            <span class="description" *ngIf="authorizationStatus === 0">{{ 'GalleriahivePage.description1' | translate}}</span>
            <span class="description" *ngIf="authorizationStatus === 1">{{ 'GalleriahivePage.description2' | translate}}</span>
            <span class="description" *ngIf="authorizationStatus === 2">{{ 'GalleriahivePage.failDes1' | translate}}</span>
            <span class="description" *ngIf="authorizationStatus === 3">{{ 'GalleriahivePage.failDes0' | translate}}</span>
            <span class="description" *ngIf="authorizationStatus === 11">{{ 'GalleriahivePage.failVaultNotFound' | translate}}</span>
           </ion-col>
           <ion-col size="12">
             <img class="hive1" src="./assets/images/hive1.png" *ngIf="authorizationStatus!=1">
             <img class="hive2" src="./assets/images/hive2.gif" *ngIf="authorizationStatus === 1">
           </ion-col>

           <ion-col size="12">
            <ion-progress-bar value="0.5" *ngIf="authorizationStatus === 0"></ion-progress-bar>
           </ion-col>

         </ion-row>
         <ion-row class="btn-row btn-row-top" *ngIf="authorizationStatus === 1" (click)="openHomePage()">
          <ion-button>
            <ion-label>
               {{ "GalleriahivePage.welcomeHive"| translate }}
            </ion-label>
          </ion-button>
        </ion-row>

        <ion-row class="btn-row btn-row-top" *ngIf="authorizationStatus === 2 || authorizationStatus === 3" (click)="TryButton()">
          <ion-button>
            <ion-label>
               {{ "GalleriahivePage.buttonTitle1"| translate }}
            </ion-label>
          </ion-button>
        </ion-row>
  </ion-grid>
</ion-footer>