<div *ngIf="likeList.length === 0 && !isLoadingLike" class="new-empty-container">
  <img src="./assets/images/no-Likes.svg">
  <h1  style="margin-top: 20px;">{{ 'LikesComponent.allempty' | translate }}</h1>
  <p>{{ 'LikesComponent.emptyLikeDes' | translate }}</p>
  <div class="btn-row-empty" style="margin-top:5px;" (click)="timeline()">
    {{ 'LikesComponent.timeline' | translate }}
  </div>
  <div class="btn-row-empty" style="margin-top:10px;" (click)="exploreFeeds()">
    {{ 'LikesComponent.exploreFeeds' | translate }}
  </div>
</div>

  <!-- first loading -->
  <ion-row *ngIf="isLoadingLike" style="margin-top:13px;">
    <ion-col size="12" class="loading">
    <img *ngIf="!theme.darkMode" class="loadingIcon" src="./assets/images/nftloading.gif"/>
    <img *ngIf="theme.darkMode" class="loadingIcon" src="./assets/images/darkmode/nftloading.gif"/>
    </ion-col>
    <ion-col size="12" class="loading">
    <p>{{'common.beingRefresh'|translate}}</p>
    </ion-col>
  </ion-row>

<div *ngIf="likeList.length > 0 && !isLoadingLike">
  <div *ngFor="let post of likeList let i=index">
  <ion-grid  class="post-grid ion-activatable ripple postgridlike" [class.darkPostGrid]="theme.darkMode" [class.removeBorder]="post === likeList[likeList.length - 1]" id={{post.destDid}}-{{post.channelId}}-{{post.postId}}-{{post.content.mediaType}}-like>
    <ion-row class="post-row">
      <ion-col size="0.5" (click)="navToPostDetail(post.destDid, post.channelId, post.postId)">

      </ion-col>
      <ion-col class="img-col" size="2.5" sizeMd="1" sizeLg="1" (click)="navTo(post.destDid, post.channelId,post.postId)">
        <div class="feedAvatar"  id={{post.destDid}}-{{post.channelId}}-{{post.postId}}-likeChannelAvatarKuang [class.dark-feedAvatar]="theme.darkMode">
          <img [src] = "channelAvatarMap[post.destDid+'-'+post.channelId]" *ngIf="channelAvatarMap[post.destDid+'-'+post.channelId]  != null && channelAvatarMap[post.destDid+'-'+post.channelId] != undefined">
        </div>
      </ion-col>
      <ion-col class="content-col" size="6.5" sizeMd="8" sizeLg="8" (click)="navToPostDetail(post.destDid, post.channelId, post.postId)">
            <ion-label  *ngIf="channelNameMap[post.channelId] === '' || channelNameMap[post.channelId] === undefined">
              ......
            </ion-label>
            <ion-label  *ngIf="channelNameMap[post.channelId] != '' && channelNameMap[post.channelId] != undefined">
              {{ handleName(post) }}
              <span> {{ handleDisplayTime(post.postId,post.createdAt) }}</span>
            </ion-label>

            <p *ngIf="handleDisplayNameMap[post.destDid] === '' || handleDisplayNameMap[post.destDid] === undefined">
              @......
            </p>
            <p *ngIf="handleDisplayNameMap[post.destDid] != '' && handleDisplayNameMap[post.destDid] != undefined">
              @{{ handleDisplayNameMap[post.destDid] }}
            </p>

      </ion-col>
      <ion-col size="0.5" (click)="menuMore(post.destDid, post.channelId, post.postId)"></ion-col>
      <ion-col size="1.5"  class="menuMore" (click)="menuMore(post.destDid, post.channelId, post.postId)">
        <img
        *ngIf="post.status != 1"
        [src]="!theme.darkMode ? './assets/images/dots-three-vertical.svg' : './assets/images/dots-three-vertical-dark.svg'"
      >
      </ion-col>
      <ion-col size="0.5" (click)="navToPostDetail(post.destDid, post.channelId, post.postId)"></ion-col>
    </ion-row>

    <ion-row *ngIf="post.content.content===''"  (click)="navToPostDetail(post.destDid, post.channelId, post.postId)" class="noText">

    </ion-row>
    <!--text-->
    <ion-row  *ngIf="post.content.content !='' ">
      <ion-col size="0.5" (click)="navToPostDetail(post.destDid, post.channelId, post.postId)">

      </ion-col>
      <ion-col size="11" class="postText">
        <h2 (click)="navToPostDetail(post.destDid, post.channelId, post.postId)" *ngIf="post.status === 1">
          <pre>{{'common.deleted' | translate}}</pre>
        </h2>

        <h2  (press)="pressContent(post.content.content)" *ngIf="post.status !=1" [style.touch-action]="'pan-y'">
          <div *ngIf="getPostContentTextSize(post.content.content)<=maxTextSize" (click)="navToPostDetail(post.destDid, post.channelId, post.postId,$event)">
            <pre [innerHTML]="getContentText(post.content.content) | html"></pre>
          </div>
          <div *ngIf="getPostContentTextSize(post.content.content)>maxTextSize" (click)="navToPostDetail(post.destDid, post.channelId,post.postId,$event)">
            <pre  [innerHTML]="getContentShortText(post) | html">{{ getContentShortText(post) }}</pre>
            <pre  style="color:#368bff;">{{"common.fulltext" | translate }}</pre>
          </div>
        </h2>
      </ion-col>
      <ion-col size="0.5" (click)="navToPostDetail(post.destDid, post.channelId, post.postId)">

      </ion-col>
    </ion-row>
    <!--img video-->
    <ion-row *ngIf="post.content.mediaType==1 || post.content.mediaType==2">
      <ion-col size="12" style="padding: 0px;">
        <div *ngIf="post.status != 1&&post.content.mediaType==1"  id ={{post.destDid}}-{{post.channelId}}-{{post.postId}}likerow style="width: 100%">
            <div style="position:relative;">

              <app-percentageloading
              *ngIf="isImgPercentageLoading[post.destDid+'-'+post.channelId+'-'+post.postId]"
              [ngStyle]="imgloadingStyleObj"
              [percent]="imgPercent"
              [rotateNum]="imgRotateNum"
              >
              </app-percentageloading>

             <app-roundloading
              *ngIf="isImgLoading[post.destDid+'-'+post.channelId+'-'+post.postId]"
              [ngStyle]="imgloadingStyleObj"
             >
             </app-roundloading>
             <div class="noLoadImgStyle" id={{post.destDid}}-{{post.channelId}}-{{post.postId}}postImgLikeKuang>
             <img
             *ngIf = "postImgMap[post.destDid+'-'+post.channelId+'-'+post.postId] !='' && postImgMap[post.destDid+'-'+post.channelId+'-'+post.postId] != undefined"
             id ={{post.destDid}}-{{post.channelId}}-{{post.postId}}postimglike
             [src]="postImgMap[post.destDid+'-'+post.channelId+'-'+post.postId]"
             class="post-img postImgBgColor"
             style="width: 100%;"
              (click)="showBigImage(post.destDid,post.channelId,post.postId)"
             />
             </div>
            </div>
            <span class="topostdetailimg" (click)="navToPostDetail(post.destDid, post.channelId, post.postId)"></span>
         </div>

             <!--video-->

             <div *ngIf="post.status!=1&&post.content.mediaType==2" id={{post.destDid}}-{{post.channelId}}-{{post.postId}}vgplayerlike style="width:100%;position:relative;">
              <app-roundloading
              *ngIf="isVideoLoading[post.destDid+'-'+post.channelId+'-'+post.postId]"
              [ngStyle]="videoloadingStyleObj"
              >
              </app-roundloading>

              <app-percentageloading
              *ngIf="isVideoPercentageLoading[post.destDid+'-'+post.channelId+'-'+post.postId]"
              [ngStyle]="videoloadingStyleObj"
              [percent]="videoPercent"
              [rotateNum]="videoRotateNum"
              >
              </app-percentageloading>
                 <div style="width: 100%;display:inline-block;height:200px;">
                 <vg-player>
                   <vg-overlay-play id={{post.destDid}}-{{post.channelId}}-{{post.postId}}vgoverlayplaylike></vg-overlay-play>
                   <vg-controls id={{post.destDid}}-{{post.channelId}}-{{post.postId}}vgcontrolslike style="display: none;">
                       <img class="vgfullscreen" id={{post.destDid}}-{{post.channelId}}-{{post.postId}}vgfullscreelike src="assets/images/fullscreen.svg"/>
                   </vg-controls>

               <video #media [vgMedia]="media" id ={{post.destDid}}-{{post.channelId}}-{{post.postId}}videolike
               poster="assets/images/loading.png"
               playsinline webkit-playsinline>
               <source  type="video/mp4" id={{post.destDid}}-{{post.channelId}}-{{post.postId}}sourcelike>
               </video>
               </vg-player>
               </div>
            </div>
      </ion-col>
    </ion-row>

    <ion-row  (click)="navToPostDetail(post.destDid, post.channelId, post.postId)" class="noText">

    </ion-row>
    <!-- repost -->
    <ion-grid
    *ngIf="rePostMap[post.postId]"
    style="border: none;"
    class="post-grid postgridlike repostBorder"
    [class.darkPostGrid]="theme.darkMode" id={{rePostMap[post.postId].destDid}}-{{rePostMap[post.postId].channelId}}-{{rePostMap[post.postId].postId}}-{{rePostMap[post.postId].content.mediaType}}-like-repost>
      <ion-row class="post-row">
        <ion-col size="1" (click)="navToPostDetail(rePostMap[post.postId].destDid, rePostMap[post.postId].channelId, rePostMap[post.postId].postId)">

        </ion-col>
        <ion-col class="img-col" size="2.5" (click)="navTo(rePostMap[post.postId].destDid, rePostMap[post.postId].channelId,rePostMap[post.postId].postId)">
          <div class="feedAvatar"  [class.dark-feedAvatar]="theme.darkMode">
            <img [src] = "channelAvatarMap[rePostMap[post.postId].destDid+'-'+rePostMap[post.postId].channelId]" *ngIf="channelAvatarMap[rePostMap[post.postId].destDid+'-'+rePostMap[post.postId].channelId]  != null && channelAvatarMap[rePostMap[post.postId].destDid+'-'+rePostMap[post.postId].channelId] != undefined">
          </div>
        </ion-col>
        <ion-col class="content-col" size="8" (click)="navToPostDetail(rePostMap[post.postId].destDid, rePostMap[post.postId].channelId, rePostMap[post.postId].postId)">
              <ion-label  *ngIf="channelNameMap[rePostMap[post.postId].channelId] === '' || channelNameMap[rePostMap[post.postId].channelId] === undefined">
                ......
              </ion-label>
              <ion-label  *ngIf="channelNameMap[rePostMap[post.postId].channelId] != '' && channelNameMap[rePostMap[post.postId].channelId] != undefined">
                {{ handleName(rePostMap[post.postId]) }}
                <span> {{ handleDisplayTime(rePostMap[post.postId].postId,rePostMap[post.postId].createdAt) }}</span>
              </ion-label>

              <p *ngIf="handleDisplayNameMap[rePostMap[post.postId].destDid] === '' || handleDisplayNameMap[rePostMap[post.postId].destDid] === undefined">
                @......
              </p>
              <p *ngIf="handleDisplayNameMap[rePostMap[post.postId].destDid] != '' && handleDisplayNameMap[rePostMap[post.postId].destDid] != undefined">
                @{{ handleDisplayNameMap[rePostMap[post.postId].destDid] }}
              </p>

        </ion-col>
        <ion-col size="0.5" (click)="navToPostDetail(rePostMap[post.postId].destDid, rePostMap[post.postId].channelId, rePostMap[post.postId].postId)"></ion-col>
      </ion-row>

      <ion-row *ngIf="rePostMap[post.postId].content.content===''"  (click)="navToPostDetail(rePostMap[post.postId].destDid, rePostMap[post.postId].channelId, rePostMap[post.postId].postId)" class="noText">

      </ion-row>
      <!--text-->
      <ion-row  *ngIf="rePostMap[post.postId].content.content !='' ">
        <ion-col size="1" (click)="navToPostDetail(rePostMap[post.postId].destDid, rePostMap[post.postId].channelId, rePostMap[post.postId].postId)">

        </ion-col>
        <ion-col size="10.5" class="postText">
          <h2 (click)="navToPostDetail(rePostMap[post.postId].destDid, rePostMap[post.postId].channelId, rePostMap[post.postId].postId)" *ngIf="rePostMap[post.postId].status === 1">
            <pre>{{'common.deleted' | translate}}</pre>
          </h2>

          <h2  (press)="pressContent(rePostMap[post.postId].content.content)" *ngIf="rePostMap[post.postId].status !=1" [style.touch-action]="'pan-y'">
            <div *ngIf="getPostContentTextSize(rePostMap[post.postId].content.content)<=maxTextSize" (click)="navToPostDetail(rePostMap[post.postId].destDid, rePostMap[post.postId].channelId, rePostMap[post.postId].postId,$event)">
              <pre [innerHTML]="getContentText(rePostMap[post.postId].content.content) | html"></pre>
            </div>
            <div *ngIf="getPostContentTextSize(rePostMap[post.postId].content.content)>maxTextSize" (click)="navToPostDetail(rePostMap[post.postId].destDid, rePostMap[post.postId].channelId,rePostMap[post.postId].postId,$event)">
              <pre  [innerHTML]="getContentShortText(rePostMap[post.postId]) | html">{{ getContentShortText(rePostMap[post.postId]) }}</pre>
              <pre  style="color:#368bff;">{{"common.fulltext" | translate }}</pre>
            </div>
          </h2>
        </ion-col>
        <ion-col size="0.5" (click)="navToPostDetail(rePostMap[post.postId].destDid, rePostMap[post.postId].channelId, rePostMap[post.postId].postId)">

        </ion-col>
      </ion-row>
      <!--img video-->
      <ion-row *ngIf="rePostMap[post.postId].content.mediaType==1 || rePostMap[post.postId].content.mediaType==2">
        <ion-col size="12" style="padding: 0px;">
          <div *ngIf="rePostMap[post.postId].status != 1&&rePostMap[post.postId].content.mediaType==1"  id ={{rePostMap[post.postId].destDid}}-{{rePostMap[post.postId].channelId}}-{{rePostMap[post.postId].postId}}likerow style="width: 100%">
              <div style="position:relative;">

                <app-percentageloading
                *ngIf="isImgPercentageLoading[rePostMap[post.postId].destDid+'-'+rePostMap[post.postId].channelId+'-'+rePostMap[post.postId].postId]"
                [ngStyle]="imgloadingStyleObj"
                [percent]="imgPercent"
                [rotateNum]="imgRotateNum"
                >
                </app-percentageloading>

               <app-roundloading
                *ngIf="isImgLoading[rePostMap[post.postId].destDid+'-'+rePostMap[post.postId].channelId+'-'+rePostMap[post.postId].postId]"
                [ngStyle]="imgloadingStyleObj"
               >
               </app-roundloading>
               <div class="noLoadImgStyle" id={{rePostMap[post.postId].destDid}}-{{rePostMap[post.postId].channelId}}-{{rePostMap[post.postId].postId}}postImgLikeKuang>
               <img
               *ngIf = "postImgMap[rePostMap[post.postId].destDid+'-'+rePostMap[post.postId].channelId+'-'+rePostMap[post.postId].postId] !='' && postImgMap[rePostMap[post.postId].destDid+'-'+rePostMap[post.postId].channelId+'-'+rePostMap[post.postId].postId] != undefined"
               id ={{rePostMap[post.postId].destDid}}-{{rePostMap[post.postId].channelId}}-{{rePostMap[post.postId].postId}}postimglike
               [src]="postImgMap[rePostMap[post.postId].destDid+'-'+rePostMap[post.postId].channelId+'-'+rePostMap[post.postId].postId]"
               class="post-img postImgBgColor"
               style="width: 100%;"
                (click)="showBigImage(rePostMap[post.postId].destDid,rePostMap[post.postId].channelId,rePostMap[post.postId].postId)"
               />
               </div>
              </div>
              <span class="topostdetailimg" (click)="navToPostDetail(rePostMap[post.postId].destDid,rePostMap[post.postId].channelId, rePostMap[post.postId].postId)"></span>
           </div>

               <!--video-->

               <div *ngIf="rePostMap[post.postId].status!=1&&rePostMap[post.postId].content.mediaType==2" id={{rePostMap[post.postId].destDid}}-{{rePostMap[post.postId].channelId}}-{{rePostMap[post.postId].postId}}vgplayerlike style="width:100%;position:relative;">
                <app-roundloading
                *ngIf="isVideoLoading[rePostMap[post.postId].destDid+'-'+rePostMap[post.postId].channelId+'-'+rePostMap[post.postId].postId]"
                [ngStyle]="videoloadingStyleObj"
                >
                </app-roundloading>

                <app-percentageloading
                *ngIf="isVideoPercentageLoading[rePostMap[post.postId].destDid+'-'+rePostMap[post.postId].channelId+'-'+rePostMap[post.postId].postId]"
                [ngStyle]="videoloadingStyleObj"
                [percent]="videoPercent"
                [rotateNum]="videoRotateNum"
                >
                </app-percentageloading>
                   <div style="width: 100%;display:inline-block;height:200px;">
                   <vg-player>
                     <vg-overlay-play id={{rePostMap[post.postId].destDid}}-{{rePostMap[post.postId].channelId}}-{{rePostMap[post.postId].postId}}vgoverlayplaylike></vg-overlay-play>
                     <vg-controls id={{rePostMap[post.postId].destDid}}-{{rePostMap[post.postId].channelId}}-{{rePostMap[post.postId].postId}}vgcontrolslike style="display: none;">
                         <img class="vgfullscreen" id={{rePostMap[post.postId].destDid}}-{{rePostMap[post.postId].channelId}}-{{rePostMap[post.postId].postId}}vgfullscreelike src="assets/images/fullscreen.svg"/>
                     </vg-controls>

                 <video #media [vgMedia]="media" id ={{rePostMap[post.postId].destDid}}-{{rePostMap[post.postId].channelId}}-{{rePostMap[post.postId].postId}}videolike
                 poster="assets/images/loading.png"
                 playsinline webkit-playsinline>
                 <source  type="video/mp4" id={{rePostMap[post.postId].destDid}}-{{rePostMap[post.postId].channelId}}-{{rePostMap[post.postId].postId}}sourcelike>
                 </video>
                 </vg-player>
                 </div>
              </div>
        </ion-col>
      </ion-row>

      <ion-row  (click)="navToPostDetail(rePostMap[post.postId].destDid, rePostMap[post.postId].channelId, rePostMap[post.postId].postId)" class="noText">
      </ion-row>
    </ion-grid>


    <!--like comment tip-->
    <ion-row class="bottom-row">
      <ion-col size="0.5">

      </ion-col>
      <ion-col size="2.25" (click)="like(post.destDid, post.channelId, post.postId)" style="padding-left: 0px;">
        <img [src]="likeMap[post.postId] === 'like'  ? '/assets/images/like-s.svg' : '/assets/images/darkmode/like.svg'" *ngIf="theme.darkMode">
        <img [src]="likeMap[post.postId] === 'like'  ? '/assets/images/like-s.svg' : '/assets/images/like.svg'" *ngIf="!theme.darkMode">
        <ion-label [class.liked]="likeMap[post.postId] === 'like' ">{{ likeNumMap[post.postId] }}</ion-label>
      </ion-col>
      <ion-col  size="2.25" (click)="clickRepost(post)">
        <img src="/assets/images/repost.svg" *ngIf="!theme.darkMode">
        <img src="/assets/images/darkmode/repost.svg" *ngIf="theme.darkMode">
        <ion-label>0</ion-label>
      </ion-col>
      <ion-col size="2.25" (click)="showComment(post.destDid, post.channelId, post.postId)">
        <img src="/assets/images/bubble-line.svg" *ngIf="!theme.darkMode">
        <img src="/assets/images/darkmode/bubble-line.svg" *ngIf="theme.darkMode">
        <ion-label>{{ commentNumMap[post.postId] }}</ion-label>
      </ion-col>


      <!-- <ion-col (click)="clickDashang(post.destDid, post.channelId, post.postId)" *ngIf="isAndroid">
        <img src="/assets/images/dashang.svg" *ngIf="!theme.darkMode">
        <img src="/assets/images/darkmode/tip.svg" *ngIf="theme.darkMode">
      </ion-col> -->
      <ion-col (click)="navToPostDetail(post.destDid, post.channelId, post.postId)">
        <ion-label class="status" *ngIf="post.status === 2" style="right: 10px;">{{ 'common.edit' | translate}} </ion-label>
        <ion-label class="status" *ngIf="post.status === 11" style="right: 10px;">{{ 'common.sending' | translate}} </ion-label>
        <ion-label class="status" *ngIf="post.status === 12" style="right: 10px;">{{ 'common.sendFail' | translate}} </ion-label>
      </ion-col>
    </ion-row>
    <ion-ripple-effect></ion-ripple-effect>
  </ion-grid>
</div>
</div>