<app-titlebar></app-titlebar>
 <!-- <ion-content style="max-height: 58px;"> -->
  <ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" pullFactor="0.5">
    <ion-refresher-content
      class="refresh"
      pullingText="{{'common.releaseToRefresh'|translate}}"
      spinner="src/assets/images/arrow-dropdown.svg"
      refreshingSpinner="circles"
      refreshingText="{{'common.beingRefresh'|translate}}">
    </ion-refresher-content>
  </ion-refresher>
  <div class="search-container" [class.dark-search-container]="theme.darkMode" style="position:absolute;width: 100%;padding:0px;">
    <img *ngIf="isSearch===''" src="./assets/images/scan.svg" class="scanService" (click)="scanService()"/>
    <form action="javascript:return true;" style="display: flex;justify-content: center;width: 100%;">
      <ion-searchbar #searchbar  [ngClass]="{'borderGradient':isBorderGradient}"    [(ngModel)]="isSearch" inputmode=""  enterkeyhint="search" placeholder="{{ 'SearchPage.searchFeeds' | translate }}" (keyup)="getItems($event)" mode="ios" [ngModelOptions]="{standalone: true}" (ionClear)="ionClear()" (ionBlur)="ionBlur()" (ionFocus)="ionFocus()"></ion-searchbar>
    </form>
  </div>

    <!-- first loading -->
  <ion-row *ngIf="isLoading" style="margin-top:53px;">
    <ion-col size="12" class="loading">
    <img *ngIf="!theme.darkMode" class="loadingIcon" src="./assets/images/nftloading.gif"/>
    <img *ngIf="theme.darkMode" class="loadingIcon" src="./assets/images/darkmode/nftloading.gif"/>
    </ion-col>
    <ion-col size="12" class="loading">
    <p>{{'common.beingRefresh'|translate}}</p>
    </ion-col>
  </ion-row>

  <div class="new-empty-container" *ngIf="channelCollectionPageList.length == 0 && !isLoading">
    <img src="./assets/images/no-Explore.svg">
     <h1>{{ 'SearchPage.allempty' | translate }}</h1>
    <p>{{ 'SearchPage.emptyDes' | translate }}</p>
    <!-- <h1> {{ "common.comingSoon" | translate }}</h1> -->
  </div>

  <ion-list  class="channel-list" [class.darkChannelList]="theme.darkMode" style="margin-top: 45px;" *ngIf="channelCollectionPageList.length > 0 && !isLoading">
  <!-- channel Collection -->
  <ion-item
  *ngFor="let channelCollection of channelCollectionPageList"
  class="channelCollectionFeeds"
  lines="none">
  <ion-row class="channel-row ion-activatable ripple"  id = {{channelCollection.destDid}}-{{channelCollection.channelId}}-{{channelCollection.channelSource}}-search
  >
    <ion-col
      size="2.8"
      class="left-col"
      (click)="clickChannelCollection(channelCollection)"
    >
    <div class="feedAvatar" [class.dark-feedAvatar]="theme.darkMode">
        <img
        [src] = "channelAvatarMap[channelCollection.destDid+'-'+channelCollection.channelId]"
        [ngClass]="{'customizeAvatar': channelAvatarMap[channelCollection.destDid+'-'+channelCollection.channelId].indexOf('default-contact.svg') === -1 }"
        *ngIf="channelAvatarMap[channelCollection.destDid+'-'+channelCollection.channelId]  != null && channelAvatarMap[channelCollection.destDid+'-'+channelCollection.channelId] != undefined">
    </div>
    </ion-col>
    <ion-col
      size="9.2"
      class="middle-col"
      (click)="clickChannelCollection(channelCollection)"
    >
      <ion-label style="white-space:nowrap;overflow:hidden;text-overflow:ellipsis;width: 160px;">{{channelCollection.displayName  || channelCollection.name || 'common.unknown' | translate }} </ion-label>
      <div class="displayName" *ngIf="handleDisplayNameMap[channelCollection.destDid] === '' || handleDisplayNameMap[channelCollection.destDid] === undefined">
        @......
      </div>
      <div class="displayName" *ngIf="handleDisplayNameMap[channelCollection.destDid] != '' && handleDisplayNameMap[channelCollection.destDid] != undefined">
        @{{ handleDisplayNameMap[channelCollection.destDid] }}
      </div>

      <ion-row *ngIf="channelCollection.channelSource === 'hive'">
          <div  class="des">{{ channelCollection.intro }}</div>
      </ion-row>

      <ion-row *ngIf="channelCollection.channelSource === 'ipfs'">
        <div class="des">{{ "SearchPage.des" | translate }}</div>
      </ion-row>

      <div  class="btn-row-empty unsubscribed" (click)="subscribe(channelCollection.destDid, channelCollection.channelId, $event)" *ngIf="subscribedChannelMap[channelCollection.channelId] === undefined && channelCollection.channelSource === 'hive'">
        <span>{{ "SearchPage.follow" | translate }}</span>
      </div>

      <ion-button class="subscribed" *ngIf="subscribedChannelMap[channelCollection.channelId] != undefined && channelCollection.channelSource === 'hive'" (click)="unsubscribe(channelCollection.destDid, channelCollection.channelId, $event)">
        <ion-label>{{ 'SearchPage.following' | translate }}</ion-label>
      </ion-button>
    </ion-col>
    <ion-ripple-effect></ion-ripple-effect>
  </ion-row>
</ion-item>
</ion-list>

<ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
  <ion-infinite-scroll-content
    class="ion-padding-top"
    loadingSpinner="circles"
  >
  </ion-infinite-scroll-content>
</ion-infinite-scroll>

</ion-content>
