.loading{
    display: flex;
    justify-content: center;
    padding: 0px;
    img{
       width: 24px;
       height: 24px;
    }

    p{
        margin: 5px 0px;
    }
}

.displayDes {
    color: #c4c4c4;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    width: 100%;
    font-size: 12px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    margin-top: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
  }